<app-header></app-header>

<ion-content >

  <h1 padding>Huevos revueltos con jamon</h1>

  <ion-card mode="ios">
      <ion-img src="/assets/recetario/pescado/huevos.jpeg"></ion-img>
      <ion-card-header>      
        <ion-card-title>Ingredientes</ion-card-title>
        </ion-card-header>
        <ion-card-content color="success">              
            • 1 Pimiento (150 g)
            • 2 Cebolletas (40 g)<br>
            • Aceite de oliva (1 cdta., 7 mL)<br>
            • Salmón ahumado (150 g)<br>
            • Sal y pimienta (al gusto)<br>
      • Cebollino fresco (al gusto)<br>
      • 6 Huevos (420 g)<br>
  
      


       
                  
        </ion-card-content>
  
        <ion-card-header>
            <ion-card-title>Procedimiento</ion-card-title>
            </ion-card-header>
      
            <ion-card-content ALIGN="justify" color="#000">
               
                1. Para los huevos revueltos, lava, pela y pica el pimiento y las cebolletas. <br><br>
                2. Saltealos en una sartén con una cucharadita de aceite de oliva.<br><br>
                3. Mientras tanto, bate los huevos y condiméntalos con sal y pimienta.<br><br>
                4. Viértelos en la sartén y cocínalos.<br><br>
        5. Cuando estén listos, corta el salmón en trocitos y añádelo a los huevos.<br><br>
        6. Sirve con rodajitas de cebollino fresco.<br><br>
        7. ¡Que aproveche!<br><br>
            
            </ion-card-content>
  
        <ion-card-header>
          <ion-card-subtitle>Informacion Nutricional:</ion-card-subtitle>
        </ion-card-header>
         
        <ion-item color="success">
            <ion-card-content ALIGN="justify" color="#000">
              <p><strong>Tiempo : <br><br>
                Porciones: 1 aprox <br>
                Energia:  500 Kcal  <br>
                &nbsp;&nbsp;&nbsp;&nbsp;· Proteínas: 41.9g <br>
                &nbsp;&nbsp;&nbsp;&nbsp;· Carbohidratos: 9.1g<br>
                &nbsp;&nbsp;&nbsp;&nbsp;· Azucares: 8.9g<br>
                &nbsp;&nbsp;&nbsp;&nbsp;· Grasas: 32.4g<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;De las cuales:<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Saturadas: 8.6g <br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Monoinsaturadas: 14.0g<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Poliinsaturadas: 6.9g<br>
                · Colesterol: 878mg
              </strong></p>             
            </ion-card-content>
        </ion-item>
        
    </ion-card>

</ion-content>
