<app-header titulo="Bizcocho de Naranja"></app-header>

<ion-content>

    <ion-card mode="ios">
        <ion-img src="/assets/recetario/postres/bizcochoNaranja.jpg"></ion-img>
        <ion-card-header>      
          <ion-card-title>Ingredientes</ion-card-title>
          </ion-card-header>
          <ion-card-content color="success">              
              • 200g de harina blanca de trigo 
              • 150g de azúcar blanco<br>
              • 120g de margarina a temperatura ambiente<br>
              • 4 huevos (tamaño L)<br>
              • 40g de harina fina de maíz<br>
              • 50mL de zumo de naranja<br>
              • la ralladura de una naranja<br>
              • 1 sobre de levadura química en polvo<br>
              • una pizca de sal<br>
                    
          </ion-card-content>
    
          <ion-card-header>
              <ion-card-title>Procedimiento</ion-card-title>
              </ion-card-header>
        
              <ion-card-content ALIGN="justify" color="#000">
                 
                  1. Batir la margarina con el azúcar hasta obtener una crema. <br><br>
                  2. Incorporar los huevos, uno a uno, batiendo bien después de cada una de las adiciones.<br><br>
                  3. Añadir el zumo y la ralladura de naranja. Mezclar.<br><br>
                  4. Tamizar la harina de trigo junto a la de maíz y la levadura en polvo. Incorporarlo todo a la mezcla anterior. Añadir una pizca de sal. Procurar que quede todo perfectamente mezclado.<br><br>
                  5. Enmantequillar y enharinar un molde desmontable de corona. Y verter la mezcla del bizcocho en él.<br><br>
                  6. Introducir en el horno precalentado a 200ºC durante unos 30-35 minutos (o hasta que al pincharlo con una aguja, ésta salga limpia).<br><br>
                  7. Una vez horneado, dejarlo enfriar sobre una rejilla antes de desmoldarlo.<br><br>
                  8. A continuación, preparar el glaseado de naranja: Batir con la batidora eléctrica el zumo de naranja junto al azúcar glas (al gusto, yo puse unas 5 cucharadas soperas). Una vez listo,
                   verter sobre la superficie del bizcocho previamente desmoldado. Esperar unos minutos hasta que el glaseado haya cogido dureza y decorar con los gajitos de mandarina.
              
              
              </ion-card-content>
    
          <ion-card-header>
            <ion-card-subtitle>Informacion Nutricional:</ion-card-subtitle>
          </ion-card-header>
           
          <ion-item color="success">
              <ion-card-content ALIGN="justify" color="#000">
                <p><strong>Tiempo : 25min aprox <br><br>
                  Porciones: 6 aprox <br>
                  Energia:	453 Kcal	<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;· Proteínas: 10g <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;· Proteinas: 54g<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;· Azucares: 2g<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;· Grasas: 21g<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;De las cuales:<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Saturadas: 6g <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Monoinsaturadas: 8g<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Poliinsaturadas: 5g<br>
                  · Colesterol: 189mg
                </strong></p>             
              </ion-card-content>
          </ion-item>
          
      </ion-card>

</ion-content>
