<app-header></app-header>

<ion-content >
    <ion-card mode="ios">
        <ion-img src="/assets/recetario/pollo/mango.jpg"></ion-img>
        <ion-card-header>      
		      <ion-card-title> Ingredientes para 2 raciones </ion-card-title>
        </ion-card-header>
          <ion-card-content color="success"> 
            ・1 Pechuga de pollo (150 g)<br><br>
            ・Aceite de oliva (1 cdta., 7 mL)<br><br>
            ・Sal y pimienta (al gusto)<br><br>
            ・Mango (75 g)<br><br>
            ・Nata agria (25 g)<br><br>
            ・Pan integral (4 rodaja, 160 g)<br><br>
            ・Tomates cherry (75 g)<br><br>
            ・Rúcula (25 g)<br><br>                    
          </ion-card-content>
    
          <ion-card-header>
              <ion-card-title>Instrucciones para 2 raciones</ion-card-title>
              </ion-card-header>
        
              <ion-card-content ALIGN="justify" color="#000">
                 
                 Instrucciones para 2 raciones:
                1. Corta la pechuga de pollo en tiras finas y saltéala en una sartén con aceite de oliva. Alíñala con sal y pimienta.<br><br>
                2. Mientras tanto, pela el mango, córtalo en trocitos y colócalo en un bol.<br><br>
                3. Agrega la nata agria y bate todo junto con una batidora hasta conseguir la consistencia de una salsa. Añade la salsa al pollo y retira la sartén del fuego.<br><br>
                4. Coloca el pollo al mango sobre la mitad de las rebanadas de pan.<br><br>
                5. Corta los tomates cherry en rodajas finas y colócalas sobre el pollo.<br><br>
                6. Pon encima un poco de rúcula y cubre con otra rebanada de pan.<br><br>
                7. ¡Que aproveche!<br><br>
                  
              
              </ion-card-content>
    
          <ion-card-header>
            <ion-card-title>Informacion Nutricional:</ion-card-title>
          </ion-card-header>
           
          <ion-item color="success">
              <ion-card-content ALIGN="justify" color="#000">
                <p><strong>
                  Porciones: 1 aprox <br>
                  Energia:  353Kcal  <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;· Proteínas: 24.4 <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;· Carbohidratos: 37.7g<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;· Fibra alimentaria: 7.8g<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;· Azucares: 8.1g<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Grasas: 9.1g<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Saturadas: 3.3g <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Monoinsaturadas: 3.6g<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Poliinsaturadas: 1.2g<br>
                  · Colesterol: 54mg<br>
				  .Sal: 1.2g<br>
				  . Sodio: 0mg<br>
				  . Minerales<br>
				  . Potasio: 637mg<br>
                </strong></p>             
              </ion-card-content>
          </ion-item>
          
      </ion-card>

</ion-content>
