<app-header></app-header>

<ion-content >

  <h1 padding>Sopa picante de pescado y tomate</h1>

  <ion-card mode="ios">
      <ion-img src="assets/recetario/pescado/camaron.jpeg"></ion-img>
      <ion-card-header>      
        <ion-card-title>Ingredientes</ion-card-title>
        </ion-card-header>
        <ion-card-content color="success">              
            • 1 Cebolla (80 g)
            • 1 Diente de ajo (3 g)<br>
            • Aceite de oliva (1 cdta., 7 mL)<br>
            • Tomate troceado (400 g)<br>
            • Caldo de verduras (400 mL)<br>
      • 1 Pimiento rojo (150 g)<br>
      • Abadejo fileteado (200 g)<br>
      • Gambas (100 g)<br>
      • Cebollino fresco (5 g)<br>
      • Romero seco (5 g)<br>
      • Perejil fresco (5 g)<br>
      • Salsa tabasco (al gusto)<br>
      • Sal y pimienta (al gusto)<br>   
      </ion-card-content>
  
        <ion-card-header>
            <ion-card-title>Procedimiento</ion-card-title>
            </ion-card-header>
      
            <ion-card-content ALIGN="justify" color="#000">
               
                1. Pela y pica el ajo y la cebolla y sofríelos en una olla con aceite de oliva. <br><br>
                2. Agrega el tomate troceado y el caldo de verduras y lleva a hervir.<br><br>
                3. Mientras se cocina la sopa, pica el pimiento y añádelo a la olla.<br><br>
                4. Corta el pescado en trocitos del tamaño de un bocado y agrégalos a la olla junto con las gambas. Cocina durante 5-7 minutos aproximadamente.<br><br>
        5. Pica el cebollino, el romero y el perejil y añádelos a la sopa.<br><br>
        6. Aliña al gusto con sal, pimienta y un poco de tabasco.<br><br>
        7. ¡Que aproveche!<br><br>
            
            </ion-card-content>
  
        <ion-card-header>
          <ion-card-subtitle>Informacion Nutricional:</ion-card-subtitle>
        </ion-card-header>
         
        <ion-item color="success">
            <ion-card-content ALIGN="justify" color="#000">
              <p><strong>Tiempo : <br><br>
                Porciones: 1 aprox <br>
                Energia:  265 Kcal  <br>
                &nbsp;&nbsp;&nbsp;&nbsp;· Proteínas: 32.2g <br>
                &nbsp;&nbsp;&nbsp;&nbsp;· Carbohidratos: 12.6g<br>
                &nbsp;&nbsp;&nbsp;&nbsp;· Azucares: 11.3g<br>
                &nbsp;&nbsp;&nbsp;&nbsp;· Grasas: 7.9g<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;De las cuales:<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Saturadas: 1.7g <br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Monoinsaturadas: 3.5g<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Poliinsaturadas: 2.2g<br>
                · Colesterol: 128mg
              </strong></p>             
            </ion-card-content>
        </ion-item>
        
    </ion-card>

</ion-content>
