<app-header></app-header>

<ion-content >

  <h1 padding>Pimientos rellenos de ternera</h1>

    <ion-card mode="ios">
        <ion-img src="/assets/recetario/carne/pimiento.jpeg"></ion-img>
        <ion-card-header>      
          <ion-card-title>Ingredientes</ion-card-title>
          </ion-card-header>
          <ion-card-content color="success">              
              • 4 Pimientos (600 g) 
              • ½ Cebolla (40 g)<br>
              • 1 Tomate (120 g)<br>
              • Carne picada de ternera (500 g)<br>
              • Chile en polvo (al gusto)<br>
              • Ajo en polvo (al gusto)<br>
              • Comino molido (al gusto)<br>
              • Sal y pimienta (al gusto)<br>
              • Judías negras (80 g)<br>
			  • Maíz (80 g)<br>
			  • Salsa mexicana (250 mL)<br>
			  • Queso parmesano en polvo (25 g)<br>
                    
          </ion-card-content>
    
          <ion-card-header>
              <ion-card-title>Procedimiento</ion-card-title>
              </ion-card-header>
        
              <ion-card-content ALIGN="justify" color="#000">
                 
                  1. Lava los pimientos y córtalos de forma horizontal por arriba creando una especie de tapa. Saca las semillas con la ayuda de un cuchillo.<br><br>
                  2. Corta la cebolla y el tomate en cubitos.<br><br>
                  3. Fríe la carne picada de ternera con la cebolla en una sartén antiadherente sin aceite.<br><br>
                  4. Aliña la carne con chile en polvo, ajo en polvo, comino molido, sal y pimienta.<br><br>
                  5. Agrega a la sartén el tomate, las judías, el maíz y la salsa, mezcla bien y cocina ligeramente.<br><br>
                  6. Rellena los pimientos con la mezcla de carne y verduras y reparte el queso parmesano por encima. Hornéalos durante 30 minutos a 180ºC.<br><br>
                  7. ¡Que aproveche!<br><br>
                  
              
              
              </ion-card-content>
    
          <ion-card-header>
            <ion-card-subtitle>Informacion Nutricional:</ion-card-subtitle>
          </ion-card-header>
           
          <ion-item color="success">
              <ion-card-content ALIGN="justify" color="#000">
                <p><strong>Tiempo : <br><br>
                  Porciones:  4 aprox <br>
                  Energia:  415 Kcal  <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;· Proteínas: 33.4g <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;· Carbohidratos: 20.5g<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;· Azucares: 13.4g<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;· Grasas: 20.7g<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;De las cuales:<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Saturadas: 9.3g <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Monoinsaturadas: 8.7g<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Poliinsaturadas: 1.5g<br>
                  · Colesterol: 80mg
                </strong></p>             
              </ion-card-content>
          </ion-item>
          
      </ion-card>

</ion-content>
