<app-header></app-header>

<ion-content>
    <h1 padding>Arroz con curry coreano</h1>

    <ion-card mode="ios">
            <ion-img src="/assets/recetario/carne/coreano.jpeg"></ion-img>
            <ion-card-header>      
              <ion-card-title>Ingredientes</ion-card-title>
              </ion-card-header>
              <ion-card-content color="success">              
                  • Arroz (120 gr)<br>
                  • Lomo de cerdo (250 gr)<br>
                  • Patatas (275 gr)<br>
                  • 1 Zanahoria (150 gr)<br>
                  • 2 Cebollas (225 gr)<br>
                  • Mantequilla (2 cdta., 8 gr)<br>
                  • Agua (700 mL)<br>
                  • Curry en polvo (40 gr)<br>
                        
              </ion-card-content>
        
              <ion-card-header>
                  <ion-card-title>Procedimiento</ion-card-title>
                  </ion-card-header>
            
                  <ion-card-content ALIGN="justify" color="#000">
                     
                      1. Comienza preparando el arroz segun las instrucciones del envase.<br><br>
                      2. Mientras se cuece el arroz, pela las patatas y las cebollas. Córtalas junto con el lomo de cerdo y la zanahoria en cubos grandes.<br><br>
                      3. Calienta la mantequilla en una olla y fríe el cerdo durante 3 minutos. Agrega los cubos de patata y cocina durante 3 minutos más.<br><br>
                      4. Añade los trozos de zanahoria y de cebolla y saltéalos brevemente.<br><br>
                      5. Coloca 3 cucharadas de agua en unbol y resérvala a un lado. Agrega el resto de agua a la olla y dej que crezca durante 10 minutos aproximandamente.<br><br>
                      6. Mientras tanto, mezcla el resto del agua con curry en polvo.<br><br>
                      7. Por último, agrega la mezcla de agua y curry a la olla y mezcla bien. Sirve el plato con arroz.<br><br>
              8. ¡Que aproveche!<br><br>
                     
                  
                  </ion-card-content>
        
              <ion-card-header>
                <ion-card-subtitle>Informacion Nutricional:</ion-card-subtitle>
              </ion-card-header>
               
              <ion-item color="success">
                  <ion-card-content ALIGN="justify" color="#000">
                    <p><strong>Tiempo : 10 minutos<br><br>
                      Porciones: 2 aprox <br>
                      Energia:  611 Kcal  <br>
                      &nbsp;&nbsp;&nbsp;&nbsp;· Proteínas: 38.6g <br>
                      &nbsp;&nbsp;&nbsp;&nbsp;· Carbohidratos: 88.6g<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;· Azucares: 20.2g<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;· Grasas: 8.4g<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;De las cuales:<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Saturadas: 3.8g <br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Monoinsaturadas: 2.7g<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Poliinsaturadas: 1.1g<br>
                      · Colesterol: 78mg
                    </strong></p>             
                  </ion-card-content>
              </ion-item>
              
          </ion-card>
    
    </ion-content>
