<app-header></app-header>

<ion-content padding>

  <h1>Beneficios biológicos</h1>

    <ul>
      <li>Mejora la forma y resistencia física.</li>
      <li>Regula las cifras de presión arterial.</li>
      <li>Incrementa o mantiene la densidad ósea.</li>
      <li>Incrementa o mantiene la densidad ósea.</li>
      <li>Mejora la resistencia a la insulina.</li>
      <li>Mejora la resistencia a la insulina..</li>
      <li>Ayuda a mantener el peso corporal.</li>
      <li>Mejora la flexibilidad y la movilidad de las articulaciones.</li>
      <li>Aumenta el tono y la fuerza muscular.</li>
      <li>Reduce la sensación de fatiga.</li>
    </ul>    
    

  <h1>Beneficios psicológicos</h1>

    <ul>
      <li>Aumenta la autoestima.</li>
      <li>Mejora la autoimagen.</li>
      <li>Reduce el aislamiento social.</li>
      <li>Rebaja la tensión y el estrés.</li>
      <li>Reduce el nivel de depresión.</li>
      <li>Ayuda a relajarte.</li>
      <li>Aumenta el estado de alerta.</li>
      <li>Disminuye el número de accidentes laborales.</li>
      <li>Menor grado de agresividad, ira, angustia...</li>
      <li>Incrementa el bienestar general.</li>
    </ul>

    <ion-item href="https://www.webconsultas.com/ejercicio-y-deporte/vida-activa/beneficios-del-ejercicio-fisico-869">
      <ion-label> <strong> Fuente: WebConsultas </strong> </ion-label>
    </ion-item>  
</ion-content>
