<app-header></app-header>

<ion-content>
    <ion-card mode="ios">
            <ion-img src="/assets/recetario/pollo/champinones.jpeg"></ion-img>
            <ion-card-header>      
              <ion-card-title>Ingredientes</ion-card-title>
              </ion-card-header>  
              <ion-card-content color="success">              
                  •    Champiñones 300g <br>
                  •    Brocoli 300g<br>
                  •    2 Dientes de ajo 6g<br>
                  •   Pechuga de pollo 200g<br>
                  •   Aceite de sesamo 2cdta, 14ml<br>
                  •    1 1/2 Cebollas 30g<br>
                  •   Agua caliente 100 ml <br>
                  •   Salsa de soja 25ml<br>
                  •   Miel 1cdta 10g <br>
            •   Chile en polvo al gusto<br>
            •   Sal y pimienta al gusto<br>
            
              </ion-card-content>
        
              <ion-card-header>
                  <ion-card-title>Procedimiento</ion-card-title>
                  </ion-card-header>
            
                  <ion-card-content ALIGN="justify" color="#000">
                     
                      1. Limpia los champiñones y lava el brocoli. Corta los champiñones en laminas y separa el brocoli en ramitos. <br><br>
                      2. Pela y tritura el ajo y ponlo en un sarten.<br><br>
                      3. Corta el pollo en trocitos del tamaño de un bocado. Agrega ala sarten la mitad del aceite de sesamo y el pollo y frielo hasta que quede crujiente.<br><br>
                      4. Mientras tanto, cortalas cebollas en aritos. Agrega al sarten la cebolla, los champiñones y el brocoli y frie todo junto durante 7-10 minutos. <br><br>
                      5. Agrega el agua, la salsa de soja y la miel. Condimenta con chile en polvo, sal y pimienta.<br><br>
              6.¡Que aproveche!<br>
              
                  </ion-card-content>
        
              <ion-card-header>
                <ion-card-subtitle>Informacion Nutricional:</ion-card-subtitle>
              </ion-card-header>
               
              <ion-item color="success">
                  <ion-card-content ALIGN="justify" color="#000">
                    <p><strong>Tiempo : 20 min aprox <br><br>
                      Porciones: 1 aprox <br>
                      Energia:  292 Kcal  <br>
                      &nbsp;&nbsp;&nbsp;&nbsp;· Proteínas: 36.4g <br>
                      &nbsp;&nbsp;&nbsp;&nbsp;· Carbohidratos: 11.3 g<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;· Azucares: 10.4g<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;· Grasas: 9.0 g<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;De las cuales:<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Saturadas: 1.4g <br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Monoinsaturadas: 3.2 g<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Poliinsaturadas: 3.8<br>
                      · Colesterol: 58mg <br>
                    </strong></p>             
                  </ion-card-content>
              </ion-item>
              
          </ion-card>
    
    </ion-content>
