<app-header></app-header>

<ion-content >

  <h1 padding>Pescado gratinado con tomate</h1>

  <ion-card mode="ios">
      <ion-img src="/assets/recetario/pescado/gratinado.jpeg"></ion-img>
      <ion-card-header>      
        <ion-card-title>Ingredientes</ion-card-title>
        </ion-card-header>
        <ion-card-content color="success">              
            • Abadejo congelado en filetes (400 g)
            • 4 Tomates (480 g)<br>
            • 1 Queso mozzarella (125 g)<br>
            • Albahaca fresca (al gusto)<br>
            • Sal y pimienta (al gusto)<br>


       
                  
        </ion-card-content>
  
        <ion-card-header>
            <ion-card-title>Procedimiento</ion-card-title>
            </ion-card-header>
      
            <ion-card-content ALIGN="justify" color="#000">
               
                1. Precalienta el horno a 180ºC y saca el pescado del congelador. <br><br>
                2. Corta los tomates en dados y la mozzarella en rodajas finas.<br><br>
                3. Coloca el pescado descongelado en una fuente de horno y agrega ⅔ de los tomates<br><br>
                4. Mezcla el resto del tomate con las rodajas de mozzarella, unas cuantas hojas de albahaca, sal y pimienta. Agrega esta mezcla a la fuente de horno.<br><br>
        5. Coloca la fuente en la parte central del horno y cocina durante aproximadamente 40 minutos hasta que el queso se haya fundido por completo.<br><br>
        6. ¡Que aproveche!<br><br>
            
            </ion-card-content>
  
        <ion-card-header>
          <ion-card-subtitle>Informacion Nutricional:</ion-card-subtitle>
        </ion-card-header>
         
        <ion-item color="success">
            <ion-card-content ALIGN="justify" color="#000">
              <p><strong>Tiempo : <br><br>
                Porciones: 1 aprox <br>
                Energia:  412 Kcal  <br>
                &nbsp;&nbsp;&nbsp;&nbsp;· Proteínas: 51.6g <br>
                &nbsp;&nbsp;&nbsp;&nbsp;· Carbohidratos: 7.3g<br>
                &nbsp;&nbsp;&nbsp;&nbsp;· Azucares: 6.0g<br>
                &nbsp;&nbsp;&nbsp;&nbsp;· Grasas: 18.4g<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;De las cuales:<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Saturadas: 10.4g <br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Monoinsaturadas: 4.5g<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Poliinsaturadas: 2.4g<br>
                · Colesterol: 161mg
              </strong></p>             
            </ion-card-content>
        </ion-item>
        
    </ion-card>

</ion-content>