<app-header></app-header>

<ion-content>
  <h1 padding>Tostada de salmon y huevo</h1>
    <ion-card mode="ios">
        <ion-img src="/assets/recetario/pescado/tostada.PNG"></ion-img>
        <ion-card-header>      
          <ion-card-title>Ingredientes</ion-card-title>
          </ion-card-header>
          <ion-card-content color="success">              
              • 1 Huevo (70 g)
              • Sal y pimienta (al gusto)<br>
              • Aceite de canola (1/2 cdta., 4 mL)<br>
              • Pan de centeno(1 rodaja,42 g)<br>
              • Lechuga iceberg (20 g)<br>		 
			  • Salmon ahumado (50 g)<br>
			  • Mostaza (1 cdta.,10 g)<br>
		    </ion-card-content>
    
          <ion-card-header>
              <ion-card-title>Procedimiento</ion-card-title>
              </ion-card-header>
        
              <ion-card-content ALIGN="justify" color="#000">
                 
                  1. En un bol, alina el huevo con sal y pimienta y batelo. <br><br>
                  2. En un sarten pequena con el aceite de canola, vierte el huevo y haz una tortilla cocinandola durante 4 minutos por cada lado.<br><br>
                  3. Mientras tanto, pon el pan en un plato y coloca encima la lechuga iceberg.<br><br>
                  4. Coloca la tortilla encima de la lechuga y , encima de todo, pon el salom ahumado.<br><br>
				  5. Por ultimo anade por encima un toque de mostaza <br><br>
				  6.  ¡Que aproveche! <br><br>
              
              </ion-card-content>
    
          <ion-card-header>
            <ion-card-subtitle>Informacion Nutricional:</ion-card-subtitle>
          </ion-card-header>
           
          <ion-item color="success">
              <ion-card-content ALIGN="justify" color="#000">
                <p><strong>Tiempo : <br><br>
                  Porciones: 1 aprox <br>
                  Energia:  352 Kcal  <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;· Proteínas: 23.1g <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;· Carbohidratos: 22.1g<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;· Azucares: 6.5g<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;· Grasas: 18.3g<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;De las cuales:<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Saturadas: 4.0g <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Monoinsaturadas: 7.0g<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Poliinsaturadas: 4.1g<br>
                  · Colesterol: 308mg
                </strong></p>             
              </ion-card-content>
          </ion-item>
          
      </ion-card>

</ion-content>
