<app-header></app-header>

<ion-content>
    <h1 padding>Sopa de rabano y ternera</h1>

    <ion-card mode="ios">
            <ion-img src="/assets/recetario/carne/rabano.jpeg"></ion-img>
            <ion-card-header>      
              <ion-card-title>Ingredientes</ion-card-title>
              </ion-card-header>
              <ion-card-content color="success">              
                  • Agua (1500 mL)<br>
                  • Pecho de ternera (225 gr)<br>
                  • 4 Dientes de ajo (12 gr)<br>
                  • 2 CEbolletas (40 gr)<br>
                  • Salsa de pescado (1 cda., 15 mL)<br>
                  • Sal y pimienta (al gusto)<br>
                  • 1 Rábano daikon (japonés) (350 gr)<br>
                        
              </ion-card-content>
        
              <ion-card-header>
                  <ion-card-title>Procedimiento</ion-card-title>
                  </ion-card-header>
            
                  <ion-card-content ALIGN="justify" color="#000">
                     
                      1. Comienza pelando el rábano y conrtándolo en rodajas.<br><br>
                      2. Llena de agua una olla grande y hiérvela. Añade las rodajas de rábano y deja que cueza duranto unos 10 minutos.<br><br>
                      3. Mientras tanto, corta la carne en cubitos, pela y pica y corta la cebolla en juliana.<br><br>
                      4. Agrega la carne y el ajo a la olla, cúbrela y deja que cueza a fuego medio durante 25 minutos aproximadamente.<br><br>
                      5. Por último, ñade los últimos ingredientes a la olla y deja que se cocine todo junto durante 5 minutos más.<br><br>
                      6. ¡Que aproveche!<br><br>
                   
                     
                  
                  </ion-card-content>
        
              <ion-card-header>
                <ion-card-subtitle>Informacion Nutricional:</ion-card-subtitle>
              </ion-card-header>
               
              <ion-item color="success">
                  <ion-card-content ALIGN="justify" color="#000">
                    <p><strong>Tiempo : 10 minutos <br><br>
                      Porciones: 2 aprox <br>
                      Energia:  274 Kcal  <br>
                      &nbsp;&nbsp;&nbsp;&nbsp;· Proteínas: 23.7g <br>
                      &nbsp;&nbsp;&nbsp;&nbsp;· Carbohidratos: 7.3g<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;· Azucares: 5.1g<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;· Grasas: 16.1g<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;De las cuales:<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Saturadas: 7.6g <br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Monoinsaturadas: 7.8g<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Poliinsaturadas: 0.8g<br>
                      · Colesterol: 79mg
                    </strong></p>             
                  </ion-card-content>
              </ion-item>
              
          </ion-card>
    
    </ion-content>
