<ion-header>
  <ion-toolbar>
    <ion-title>Pechuga de pollo con quinoa de verduras</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  
<ion-card mode="ios">
    <ion-img src="/"></ion-img>  
    <ion-card-header>
      <ion-card-title>Ingredientes para 2 raciones</ion-card-title>
    </ion-card-header>
    <ion-card-content>     
      <p> 
      ・Quinoa (85 g)<br>
      ・Brócoli congelado (200 g)<br>
      ・Aceite de oliva (1 cdta., 7 mL)<br>
      ・2 Pechugas de pollo (300 g)<br>
      ・1 Pimiento (150 g)<br>
      ・Sal y pimienta (al gusto)<br>
      </p> 
    </ion-card-content>

    <ion-card-header>
      <ion-card-title>Procedimiento</ion-card-title>
    </ion-card-header>
      <ion-card-content  color="#000">  
        <p ALIGN="justify">             
             Instrucciones para 2 raciones:<br>
           1. Prepara la quinoa según las instrucciones del envase y saca el brócoli del congelador.<br><br>
            2. Pon un poco de aceite de oliva en una sartén y fríe el pollo por los dos lados hasta que quede crujiente. Resérvalo a un lado.<br><br>
            3. Mientras tanto, retira las semillas del pimiento y córtalo en tiras.<br><br>
            4. En la misma sartén del pollo, cocina el brócoli y el pimiento durante aproximadamente 7 minutos.<br><br>
            5. Mezcla las verduras con la quinoa, aliña con sal y pimienta y sirve con el pollo.<br><br>
            6. ¡Que aproveche!<br><br></p></ion-card-content>      
          
      <ion-card-header>
        <ion-card-title>Informacion Nutricional:</ion-card-title>
      </ion-card-header>
       
      <ion-item color="success">
          <ion-card-content ALIGN="justify" color="#000">
            <p><strong>
              Porciones: 1 aprox <br>
              Energia:  418 Kcal  <br>
              &nbsp;&nbsp;&nbsp;&nbsp;· Proteínas: 44.9 <br>
              &nbsp;&nbsp;&nbsp;&nbsp;· Carbohidratos: 33.3 g<br>
              &nbsp;&nbsp;&nbsp;&nbsp;· Fibra alimentaria: 8.9 g<br>
              &nbsp;&nbsp;&nbsp;&nbsp;· Azucares: 6.9 g<br>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Grasas: 8.3 g<br>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Saturadas: 1.3 g <br>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Monoinsaturadas: 3.5 g<br>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Poliinsaturadas: 2.1 g<br>
              · Colesterol: 87 mg<br>
              .Sal: 0.3 g<br>
              . Sodio: 0 mg<br>
              . Potasio: 1,040 mg<br>
            </strong></p>             
          </ion-card-content>
      </ion-item>
      
  </ion-card>

</ion-content>
