<ion-header>
  <ion-toolbar>
    <ion-title>Burritos de pollo al horno</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card mode="ios">
        <ion-img src="/"></ion-img>        	 
        <ion-card-header>
          <ion-card-title>Instrucciones </ion-card-title>        
        </ion-card-header>
        <ion-card-content color="success"> 
      ・½ Filete de pechuga de pollo (75 g)<br>
       ・¼ Cebolla (20 g)<br>
       ・Salsa mexicana (85 mL)<br>
       ・Alcaravea molida (al gusto)<br>
       ・Orégano (al gusto)<br>
       ・Queso cheddar rallado (45 g)<br>
       ・3 Tortillas de trigo integral (120 g)<br>
       ・Margarina (1 cda., 10 g)<br>
        </ion-card-content>

        <ion-card-header>
          <ion-card-title>Procedimiento</ion-card-title>
        </ion-card-header>
          <ion-card-content  color="#000">  
            <p ALIGN="justify">               
                 Instrucciones para 2 raciones: <br>
               1. Corta la pechuga de pollo en trocitos pequeños y cocínalos en una sartén antiadherente con un poco de agua.<br><br>
               2. Mientras se hace el pollo, pica la cebolla y mézclala con la salsa, la alcaravea y el orégano.<br><br>
               3. Mezcla la salsa que acabas de preparar con el pollo y el queso cheddar y pon todo junto en el centro de la tortilla.<br><br>
               4. Dobla la tortilla por los lados y enróllala de abajo a arriba formando un rollo cerrado.<br><br>
               5. Con la ayuda de una cuchara, cubre los burritos con la margarina derretida, colócalos en una bandeja de horno con papel de horno y hornéalos durante 30 minutos a 200ºC.<br><br>
               6. Por último, decora los burritos con un poco de queso.<br><br>
               7. ¡Que aproveche!<br><br>  
            </p>              
          </ion-card-content>
    
          <ion-card-header>
            <ion-card-title>Informacion Nutricional:</ion-card-title>
          </ion-card-header>
           
          <ion-item color="success">
              <ion-card-content ALIGN="justify" color="#000">
              <p><strong>                
                  Porciones: 1 aprox <br>
                  Energia:  373 Kcal  <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;· Proteínas: 20.5<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;· Carbohidratos: 35.1 g<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;· Fibra alimentaria: 1.5 g<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;· Azucares: 2.7 g<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Grasas: 16.7 g<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Saturadas: 7.9g <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Monoinsaturadas: 5.3g<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Poliinsaturadas: 2.1g<br>
                  · Colesterol: 41 mg<br>
				          . Sal: 2.0 g<br>
				          . Sodio: 1 mg<br>
				          . Potasio: 363 mg<br>
                </strong></p>             
              </ion-card-content>
          </ion-item>
          
      </ion-card>

</ion-content>