<app-header></app-header>

<ion-content >

<ion-card mode="ios">
    <ion-img src="/assets/recetario/pollo/patatas.jpg"></ion-img>
    <ion-card-header>      
      <ion-card-title> Ingredientes para 2 porciones </ion-card-title>  
    </ion-card-header>  
      <ion-card-content color="success"> 
         ・Filete de pollo (100 g)<br><br>
         ・Sal y pimienta (al gusto)<br><br>
         ・Aceite de oliva (1 cdta., 7 mL)<br><br>
         ・Patatas (400 g)<br><br>
         ・½ Pimiento rojo (75 g)<br><br>
         ・½ Pimiento amarillo (75 g)<br><br>
         ・1 Cebolla morada (80 g)<br><br>
         ・Caldo de verduras (50 mL)<br><br>
         ・Judías verdes (100 g)<br><br>                
      </ion-card-content>

      <ion-card-header>
          <ion-card-title>Instrucciones para 2 raciones</ion-card-title>
          </ion-card-header>
    
          <ion-card-content ALIGN="justify" color="#000">
             
             Instrucciones para 2 raciones:
            1. Pon las judías a hervir durante 5 minutos.<br><br>
            2. Corta el filete de pollo en trocitos del tamaño de un bocado y condimenta con sal y pimienta.<br><br>
            3. Saltéalo en una sartén con aceite de oliva y sácalo cuando esté cocinado.<br><br>
            4. Pela las patatas, córtalas en trozos pequeños y saltéalas en la misma sartén.<br><br>
            5. Corta los pimientos y la cebolla en trozos pequeños. Agrégalos a la sartén junto con las judías y rehoga todo.<br><br>
            6. Devuelve el pollo a la sartén junto con el caldo de verduras y hiérvelo durante 5 minutos.<br><br>
            7. ¡Que aproveche! <br><br>
              
          
          </ion-card-content>

      <ion-card-header>
        <ion-card-subtitle>Informacion Nutricional:</ion-card-subtitle>
      </ion-card-header>
       
      <ion-item color="success">
          <ion-card-content ALIGN="justify" color="#000">
            <p><strong>
              Porciones: 1 aprox <br>
              Energia:  299 Kcal  <br>
              &nbsp;&nbsp;&nbsp;&nbsp;· Proteínas: 18.1g <br>
              &nbsp;&nbsp;&nbsp;&nbsp;· Carbohidratos: 40.2g<br>
              &nbsp;&nbsp;&nbsp;&nbsp;· Fibra alimentaria: 6.7g<br>
              &nbsp;&nbsp;&nbsp;&nbsp;· Azucares: 9.0g<br>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Grasas: 4.7g<br>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Saturadas: 0.8g <br>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Monoinsaturadas: 2.7g<br>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Poliinsaturadas: 0.8g<br>
              · Colesterol: 29mg<br>
      .Sal: 0.3g<br>
      . Sodio: 0mg<br>
      . Minerales<br>
      . Potasio: 1,2489mg<br>
            </strong></p>             
          </ion-card-content>
      </ion-item>
      
  </ion-card>

</ion-content>
