<app-header></app-header>

<ion-content>
  <h1 padding>Palitos de pescado</h1>
    <ion-card mode="ios">
        <ion-img src="/assets/recetario/pescado/palitos.PNG"></ion-img>
        <ion-card-header>      
          <ion-card-title>Ingredientes</ion-card-title>
          </ion-card-header>
          <ion-card-content color="success">              
              • 1 Cebolla (80 g)
              • Atun en filetes (175 g)<br>
              • 2 Huevos (140 g)<br>
              • Aceite de coco(2 cda., 28ml)<br>
              • Espinaca en hojas (200 g)<br>
			  • Harina de coco (2 cda., 15ml)<br>
			  • Copos de coco (4 cda., 30g)<br>
			  • Sal y pimienta (al gusto)<br>
			  • Nuez moscada molida (al gusto)<br>
			  
  

         
                    
          </ion-card-content>
    
          <ion-card-header>
              <ion-card-title>Procedimiento</ion-card-title>
              </ion-card-header>
        
              <ion-card-content ALIGN="justify" color="#000">
                 
                  1. Pica la cebolla y reservala a un lado. <br><br>
                  2. Corta el pescado en triangulos.<br><br>
                  3. Casca los huevos y batelos.<br><br>
                  4. Cocina la cebolla con una cucharadita de aceite de coco y hasta que quede transparente y vierte en un bol.<br><br>
				  5. Coloca las espinacas en la sarten y cocinaaas durante unos minutos.<br><br>
				  6. Mientras se cocinan las espinacas, cocina la harina y los copos de coco en boles sepaarados.<br><br>
				  7. Reboza los trocitos de pescado en la harina de coco, luego en el huevo y por ultimo en los copos de coco.<br><br>
				  8. Frie los plaitos de pescado por los dos lados en una sarten con el resto de aceite a fuego medio durante aproximadamente 5 minutos, hasta que queden dorados.<br><br>
				  9. Agrega la cebolla a las espinacas y alina con sal pimienta y nuez moscada. <br><br>
				 10. Sirve las espinacas y palitos de pescado en un plato. <br><br>
				 11.  ¡Que aproveche! <br><br>
              
              </ion-card-content>
    
          <ion-card-header>
            <ion-card-subtitle>Informacion Nutricional:</ion-card-subtitle>
          </ion-card-header>
           
          <ion-item color="success">
              <ion-card-content ALIGN="justify" color="#000">
                <p><strong>Tiempo : <br><br>
                  Porciones: 1 aprox <br>
                  Energia:  426 Kcal  <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;· Proteínas: 34.1g <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;· Carbohidratos: 7.1g<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;· Azucares: 5.6g<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;· Grasas: 32.0g<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;De las cuales:<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Saturadas: 24.3g <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Monoinsaturadas: 3.4g<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Poliinsaturadas: 1.7g<br>
                  · Colesterol: 323mg
                </strong></p>             
              </ion-card-content>
          </ion-item>
          
      </ion-card>

</ion-content>
