<app-header></app-header>

<ion-content >

  <h1 padding>One pan de pescado con arroz</h1>

  <ion-card mode="ios">
      <ion-img src="assets/recetario/pescado/one_arroz.jpeg"></ion-img>
      <ion-card-header>      
        <ion-card-title>Ingredientes</ion-card-title>
        </ion-card-header>
        <ion-card-content color="success">              
            • Arroz basmati (150 g)
            • Pesto de albahaca (pesto alla genovese) (3 cdta., 15 g)<br>
            • Agua (300 mL)<br>
            • Tomates cherry (175 g)<br>
            • Albahaca fresca (2 cda., 10 g)<br>
            • Abadejo fileteado (250 g)<br>
            • Sal y pimienta (al gusto)<br>
       
                  
        </ion-card-content>
  
        <ion-card-header>
            <ion-card-title>Procedimiento</ion-card-title>
            </ion-card-header>
      
            <ion-card-content ALIGN="justify" color="#000">
               
                1. En una sartén grande, mezcla el arroz basmati con 2/3 del pesto. <br><br>
                2. Agrega el agua, cubre con la tapa y lleva a hervir<br><br>
                3. Cuece el arroz durante 10 minutos aproximadamente, removiendo de vez en cuando.<br><br>
                4. Mientras tanto, corta los tomates cherry por la mitad y rompe la albahaca en trocitos pequeños.<br><br>
                5. Corta el filete de abadejo en 4 trozos y colócalos en el arroz presionando suavemente. Añade los tomates y la albahaca y aliña con sal y pimienta<br><br>
                6. Cubre la sartén y cocina todo durante 10 minutos. Retira la tapa y cocina durante 2 minutos más.<br><br>
                7. Reparte el resto del pesto por encima del pescado y sírvelo<br><br>
        8. ¡Que aproveche!<br><br>
               
            
            </ion-card-content>
  
        <ion-card-header>
          <ion-card-subtitle>Informacion Nutricional:</ion-card-subtitle>
        </ion-card-header>
         
        <ion-item color="success">
            <ion-card-content ALIGN="justify" color="#000">
              <p><strong>Tiempo : <br><br>
                Porciones: 1 aprox <br>
                Energia:  452 Kcal  <br>
                &nbsp;&nbsp;&nbsp;&nbsp;· Proteínas: 32.7g <br>
                &nbsp;&nbsp;&nbsp;&nbsp;· Carbohidratos: 59.3g<br>
                &nbsp;&nbsp;&nbsp;&nbsp;· Azucares: 2.8g<br>
                &nbsp;&nbsp;&nbsp;&nbsp;· Grasas: 8.0g<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;De las cuales:<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Saturadas: 1.9g <br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Monoinsaturadas: 3.6g<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Poliinsaturadas: 2.1g<br>
                · Colesterol: 76mg
              </strong></p>             
            </ion-card-content>
        </ion-item>
        
    </ion-card>

</ion-content>