<app-header></app-header>

<ion-content>
    <ion-card mode="ios">
            <ion-img src="/assets/recetario/pollo/hierbas.jpeg"></ion-img>
            <ion-card-header>      
              <ion-card-title>Ingredientes</ion-card-title>
              </ion-card-header>  
              <ion-card-content color="success">              
                  •    Pechuga de pollo en filetes 700g <br>
                  •    Aceite de oliva 2cda 23ml<br>
                  •    Sal y pimienta al gusto <br>
                  •     1 Diente de ajo 3 g<br>
                  •   Perejil 25 g<br>
                  •    Zumo  de limon 1cda 15ml<br>
                  •   1 Limon organico 80g<br>
                  
            
              </ion-card-content>
        
              <ion-card-header>
                  <ion-card-title>Procedimiento</ion-card-title>
                  </ion-card-header>
            
                  <ion-card-content ALIGN="justify" color="#000">
                     
                      1. Trocea la pechuga de pollo y haz los pinchitos. <br><br>
                      2. Pon los pichitos en una sarten y aliñalos con aceite, sal y pimienta.<br><br>
                      3. Dora los pinchitos por los dos lados.<br><br>
                      4. Para el aliño de hierbas, pica el ajo y el perejil y ralla la piel del limon. <br>
              6. Mezcla todo junto y usalo para aliñar los pinchitos ya cocinados.<br>
              7.¡Que aproveche!
              
              
                  </ion-card-content>
        
              <ion-card-header>
                <ion-card-subtitle>Informacion Nutricional:</ion-card-subtitle>
              </ion-card-header>
               
              <ion-item color="success">
                  <ion-card-content ALIGN="justify" color="#000">
                    <p><strong>Tiempo : 10 min aprox <br><br>
                      Porciones: 1 aprox <br>
                      Energia:  255 Kcal  <br>
                      &nbsp;&nbsp;&nbsp;&nbsp;· Proteínas: 40.9g <br>
                      &nbsp;&nbsp;&nbsp;&nbsp;· Carbohidratos: 1.3 g<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;· Azucares: 0.7g<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;· Grasas: 7.9 g<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;De las cuales:<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Saturadas: 1.4g <br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Monoinsaturadas: 4.5g<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Poliinsaturadas: 1.1<br>
                      · Colesterol: 102mg <br>
                    </strong></p>             
                  </ion-card-content>
              </ion-item>
              
          </ion-card>
    
    </ion-content>
