<app-header></app-header>

<ion-content>
  
  <h1 padding>Filete de salmon con batatas y calabacin asados</h1>

    <ion-card mode="ios">
        <ion-img src="/assets/recetario/pescado/filete_pata.PNG"></ion-img>
        <ion-card-header>      
          <ion-card-title>Ingredientes</ion-card-title>
          </ion-card-header>
          <ion-card-content color="success">              
              • 1/2 Cebolla (40 g)
              • 1 Batata (150 g)<br>
              • Aceite de oliva (1 cdta., 14 mL)<br>
              • Gambas (130 g)<br>
              • Espinacas frescas (100 g)<br>		 
			  • Sal y pimienta (al gusto)<br>

                    
          </ion-card-content>
    
          <ion-card-header>
              <ion-card-title>Procedimiento</ion-card-title>
              </ion-card-header>
        
              <ion-card-content ALIGN="justify" color="#000">
                 
                  1. Pica la cebolla y corta la batata en dadod del tamano de un bocado. <br><br>
                  2. Calienta el aceite de oliva en un sarten y saltea la cebolla hasta que quede transparente.<br><br>
                  3. Agrega los dados de batata y las gambas y frie durante aproximadamente 8 minutos.<br><br>
				  4. A continuacion, agrega a la sarten las espinacas y cocinalas hasta que se deshagan<br><br>
				  5. Alina con sal y pimienta <br><br>
				  6.  ¡Que aproveche! <br><br>
              
              </ion-card-content>
    
          <ion-card-header>
            <ion-card-subtitle>Informacion Nutricional:</ion-card-subtitle>
          </ion-card-header>
           
          <ion-item color="success">
              <ion-card-content ALIGN="justify" color="#000">
                <p><strong>Tiempo : <br><br>
                  Porciones: 1 aprox <br>
                  Energia:  448 Kcal  <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;· Proteínas: 29.9g <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;· Carbohidratos: 39.9g<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;· Azucares: 9.4g<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;· Grasas: 16.7g<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;De las cuales:<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Saturadas: 2.8g <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Monoinsaturadas: 10.0g<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Poliinsaturadas: 2.5g<br>
                  · Colesterol: 176mg
                </strong></p>             
              </ion-card-content>
          </ion-item>
          
      </ion-card>

</ion-content>