<ion-header>
  <ion-toolbar>
    <ion-title>Pollo picante con garbanzos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  
<ion-card mode="ios">
    <ion-img src="/"></ion-img>
    <ion-card-header>      
      <ion-card-title> Ingredientes para 2 raciones </ion-card-title>
    </ion-card-header>
    
      <ion-card-content color="success"> 
      
          ・Pechuga de pollo (80 g)<br><br>
          ・Aceite de coco (1 cdta., 7 mL)<br><br>
          ・Comino (al gusto)<br><br>
          ・Sal y pimienta (al gusto)<br><br>
          ・1 Pimiento rojo (150 g)<br><br>
          ・2 Tomates (240 g)<br><br>
          ・2 Chiles (10 g)<br><br>
          ・Garbanzos cocidos (240 g)<br><br>
          ・1 Diente de ajo (3 g)<br><br>
          ・Perejil fresco (10 g)<br><br>
          ・Caldo de verduras (50 mL)<br><br>

      </ion-card-content>

      <ion-card-header>
          <ion-card-title>Instrucciones para 2 raciones</ion-card-title>
          </ion-card-header>
          <ion-card-content>
       1. Corta el pollo en dados y úntalo con el aceite de coco, comino, sal y pimienta. Déjalo reposar en la nevera.<br><br>
       2. Mientras se marina el pollo, corta el pimiento y los tomates en dados y los chiles en aros finos. Asegúrate de retirar las semillas.<br><br>
       3. Escurre los garbanzos.<br><br>
       4. Pela y tritura el ajo y pica el perejil.<br><br>
       5. Coloca el pollo en una sartén grande y dóralo por todos los lados.<br><br>
       6. Agrega el pimiento, el tomate y el ajo y cocina todo junto durante 7 minutos más.<br><br>
       7. Añade el caldo de verduras y los garbanzos. Deja que cueza durante 5 minutos más.<br><br>
       8. Agrega el perejil y sirve.<br><br>
       9. ¡Que aproveche!<br><br>          
          </ion-card-content>

      <ion-card-header>
        <ion-card-title>Informacion Nutricional:</ion-card-title>
      </ion-card-header>
       
      <ion-item color="success">
          <ion-card-content ALIGN="justify" color="#000">
              <p><strong>
              Porciones: 1 aprox <br>
              Energia:  298Kcal  <br>
              &nbsp;&nbsp;&nbsp;&nbsp;· Proteínas: 20.6<br>
              &nbsp;&nbsp;&nbsp;&nbsp;· Carbohidratos: 30.1g<br>
              &nbsp;&nbsp;&nbsp;&nbsp;· Fibra alimentaria: 9.9g<br>
              &nbsp;&nbsp;&nbsp;&nbsp;· Azucares: 9.6g<br>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Grasas: 7.8g<br>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Saturadas: 3.9g <br>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Monoinsaturadas: 0.4g<br>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Poliinsaturadas: 2.3g<br>
              · Colesterol: 23mg<br>
      .Sal: 1.0g<br>
      . Sodio: 0mg<br>
      . Minerales<br>
      . Potasio: 683mg<br>
            </strong></p>             
          </ion-card-content>
      </ion-item>
      
  </ion-card>

</ion-content>
