<app-header></app-header>

<ion-content >

  <h1 padding>Rollito de salmon</h1>
  <ion-card mode="ios">
      <ion-img src="/assets/recetario/pescado/rollito.jpeg"></ion-img>
      <ion-card-header>      
        <ion-card-title>Ingredientes</ion-card-title>
        </ion-card-header>
        <ion-card-content color="success">              
            • Rúcula (50 g)
            • Eneldo (10 g)<br>
            • Queso crema bajo en grasa (200 g)<br>
            • 2 Tortillas de trigo (140 g)<br>
            • Salmón ahumado (200 g)<br>
  
                  
        </ion-card-content>
  
        <ion-card-header>
            <ion-card-title>Procedimiento</ion-card-title>
            </ion-card-header>
      
            <ion-card-content ALIGN="justify" color="#000">
               
                1. Pica el eneldo y la mitad de la rúcula y mézclalos con el queso crema. <br><br>
                2. Unta las tortillas con el queso crema y coloca encima el resto de la rúcula.<br><br>
                3. A continuación, coloca encima el salmón ahumado y enrolla las tortillas haciendo presión.<br><br>
                4. Por último, corta los rollos en rodajas finas y sírvelas.<br><br>
        5. ¡Que aproveche!<br><br>

            
            </ion-card-content>
  
        <ion-card-header>
          <ion-card-subtitle>Informacion Nutricional:</ion-card-subtitle>
        </ion-card-header>
         
        <ion-item color="success">
            <ion-card-content ALIGN="justify" color="#000">
              <p><strong>Tiempo : <br><br>
                Porciones: 1 aprox <br>
                Energia:  506 Kcal  <br>
                &nbsp;&nbsp;&nbsp;&nbsp;· Proteínas: 41.4g <br>
                &nbsp;&nbsp;&nbsp;&nbsp;· Carbohidratos: 41.2g<br>
                &nbsp;&nbsp;&nbsp;&nbsp;· Azucares: 5.0g<br>
                &nbsp;&nbsp;&nbsp;&nbsp;· Grasas: 18.5g<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;De las cuales:<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Saturadas: 5.7g <br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Monoinsaturadas: 7.1g<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Poliinsaturadas: 5.2g<br>
                · Colesterol: 65mg
              </strong></p>             
            </ion-card-content>
        </ion-item>
        
    </ion-card>

</ion-content>
