<app-header></app-header>
<ion-content>
    <h1 padding>Goulash fácil</h1>

    <ion-card mode="ios">
            <ion-img src="/assets/recetario/carne/goulash.jpeg"></ion-img>
            <ion-card-header>      
              <ion-card-title>Ingredientes</ion-card-title>
              </ion-card-header>
              <ion-card-content color="success">              
                  • Carne de ternera para guisar (500 gr)<br>
                  • 1/2 Cebolla (40 gr)<br>
                  • Aceite de canola (1 cda., 14 mL)<br>
                  • Agua (1000 mL)<br>
                  • Pasta de tomate cocentrado (1 cdta., 9 gr)<br>
                  • Sal y pimienta (al gusto)<br>
                  • Piment+on (al gusto)<br>
                  • 4 pttas (360 gr)<br>
                        
              </ion-card-content>
        
              <ion-card-header>
                  <ion-card-title>Procedimiento</ion-card-title>
                  </ion-card-header>
            
                  <ion-card-content ALIGN="justify" color="#000">
                     
                      1. Corta la carne de ternera en trozos.<br><br>
                      2. Pica la cebolla y saltéala en un olla con aceite de canola durante aproximadamente de 3 minutos.<br><br>
                      3. Agrega la ternera y s+ellala a fuego alto durante 3 minutos más.<br><br>
                      4. Añade una taza de agu y la past de tomate. Deja que cueza y aliña con sal, pimienta y pimentón.<br><br>
                      5. Agrega a la olla el resto de agua y deja que cueza a fuego lento durante 45 minutos.<br><br>
                      6. Mientras tanto, pela las patatas. Ralla una y corta las demás en dados.<br><br>
                      7. Cuando hya terminado el tiempo de cocción, agrega las patatas, mezcla bien, cubre la olla y deja que cueza a fego lento durante 45 minutos más.<br><br>
              8. ¡Que aproveche!<br><br>
                     
                  
                  </ion-card-content>
        
              <ion-card-header>
                <ion-card-subtitle>Informacion Nutricional:</ion-card-subtitle>
              </ion-card-header>
               
              <ion-item color="success">
                  <ion-card-content ALIGN="justify" color="#000">
                    <p><strong>Tiempo : 20 minutos<br><br>
                      Porciones: 2 aprox <br>
                      Energia:  527 Kcal  <br>
                      &nbsp;&nbsp;&nbsp;&nbsp;· Proteínas: 54.3g <br>
                      &nbsp;&nbsp;&nbsp;&nbsp;· Carbohidratos: 29.3g<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;· Azucares: 2.5g<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;· Grasas: 20.1g<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;De las cuales:<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Saturadas: 6.2g <br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Monoinsaturadas: 9.2g<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Poliinsaturadas: 2.3g<br>
                      · Colesterol: 143mg
                    </strong></p>             
                  </ion-card-content>
              </ion-item>
              
          </ion-card>
    
    </ion-content>
