<app-header></app-header>

<ion-content>

  <h1 padding>Gratinado de ternera, patata y queso feta</h1>

    <ion-card mode="ios">
        <ion-img src="/assets/recetario/carne/gratinado.jpeg"></ion-img>
        <ion-card-header>      
          <ion-card-title>Ingredientes</ion-card-title>
          </ion-card-header>
          <ion-card-content color="success">              
              • 3 Batatas (450 g)
              • 1 Cebolla (80 g)<br>
              • 2 Dientes de ajo (6 g)<br>
              • Carne picada de ternera (500 g)<br>
              • Sal y pimienta (al gusto)<br>
              • Pasta de tomate concentrado (2 cda., 32 g)<br>
              • Orégano (al gusto)<br>
              • Queso feta bajo en grasa (150 g)<br>
              • Leche semidesnatada (100 mL)<br>
			  • 1 Huevo (70 g)<br>
			  • Queso mozzarella bajo en grasa (120 g)<br>
                    
          </ion-card-content>
    
          <ion-card-header>
              <ion-card-title>Procedimiento</ion-card-title>
              </ion-card-header>
        
              <ion-card-content ALIGN="justify" color="#000">
                 
                  1. Pela las batatas y hiérvelas durante 20 minutos aproximadamente.<br><br>
                  2. Mientras tanto, pela y pica el ajo y la cebolla y colócalos en una sartén.<br><br>
                  3. Agrega la carne picada de ternera, mezcla todo y sofríelo. Aliña con sal, pimienta, pasta de tomate y orégano.<br><br>
                  4. Corta en rodajas las batatas ya hervidas y coloca la mitad en una fuente de horno.<br><br>
                  5. Vierte por encima la mitad de la carne picada y termina con una capa con la mitad del queso feta.<br><br>
                  6. Repite el proceso con el resto de ingredientes.<br><br>
                  7. Bate el huevo y la leche y vierte la mezcla por encima.<br><br>
                  8. Para terminar, espolvorea el queso mozzarella por encima y hornea la fuente durante 30 minutos a 200ºC.<br><br>
				  9. ¡Que aproveche!<br><br>
				 
              
              
              </ion-card-content>
    
          <ion-card-header>
            <ion-card-subtitle>Informacion Nutricional:</ion-card-subtitle>
          </ion-card-header>
           
          <ion-item color="success">
              <ion-card-content ALIGN="justify" color="#000">
                <p><strong>Tiempo : <br><br>
                  Porciones: 4 aprox <br>
                  Energia:  578 Kcal  <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;· Proteínas: 46.5g <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;· Carbohidratos: 31.6g<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;· Azucares: 8.6g<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;· Grasas: 28.5g<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;De las cuales:<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Saturadas: 14.6g <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Monoinsaturadas: 8.9g<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Poliinsaturadas: 1.2g<br>
                  · Colesterol: 170mg
                </strong></p>             
              </ion-card-content>
          </ion-item>
          
      </ion-card>

</ion-content>

