<app-header></app-header>

<ion-content>

  <h1 padding>Chuletas de cordero con costra de miel y mostaza</h1>

  <ion-card mode="ios">
          <ion-img src="/assets/recetario/carne/chuletas.jpeg"></ion-img>
          <ion-card-header>      
            <ion-card-title>Ingredientes</ion-card-title>
            </ion-card-header>
            <ion-card-content color="success">              
                • 1 Cebolleta (20 gr)<br>
                • Romero fresco (al gusto)<br>
                • 1 Dientes de ajo (3 gr)<br>
                • Mostaza (30 gr)<br>
                • Vinagre balsámico (1 cdta., 5 mL)<br>
                • Miel (1 cdta., 10 gr)>
                • Sal y pimienta (l gusto)<br>
                • Chuletas de cordero (450 gr)<br>
                • 2 Patatas (180 gr)<br>
          • Judías verdes congeladas (220 gr)<br>
          • Aceite de oliva (2 cda., 27 mL)<br>
          
                      
            </ion-card-content>
      
            <ion-card-header>
                <ion-card-title>Procedimiento</ion-card-title>
                </ion-card-header>
          
                <ion-card-content ALIGN="justify" color="#000">
                   
                    1. Precalienta el horno a 160°C<br><br>
                    2. Corta la cebolleta en aros, pica el romero y pela y tritura el ajo.<br><br>
                    3. En un bol, mezcla l mostaza, la cebolleta, el vinagre balsámico, la miel, el romero, sal y pimienta. Mezcla bien con una cuchara.<br><br>
                    4. Pinta las chuletas de cordero con el marinado y mételas en la nevera mientras preparas las verduras.<br><br>
                    5. Lava las patatas y córtalas en trocitos del tamaño de un bocado. Ponlas en un bol jnto con las judías verdes.<br><br>
                    6. Mezcla las verduras con aceite, sal y pimienta. Repártelas por una bandeja de horno con papel vegetal y hornéalas durante 15 minutos.<br><br>
                    7. Agrega a la bandeja de horno las chuletas de cordero y hornea todo junto durate 20 minutos más.<br><br>
            8. ¡Que aroveche!<br><br>
                   
                
                </ion-card-content>
      
            <ion-card-header>
              <ion-card-subtitle>Informacion Nutricional:</ion-card-subtitle>
            </ion-card-header>
             
            <ion-item color="success">
                <ion-card-content ALIGN="justify" color="#000">
                  <p><strong>Tiempo : 45 minutos<br><br>
                    Porciones: 2 aprox <br>
                    Energia:  753 Kcal  <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;· Proteínas: 47.4g <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;· Carbohidratos: 26.1g<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;· Azucares: 8.5g<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;· Grasas: 50.2g<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;De las cuales:<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Saturadas: 16.5g <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Monoinsaturadas: 25.5g<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Poliinsaturadas: 3.4g<br>
                    · Colesterol: 155mg
                  </strong></p>             
                </ion-card-content>
            </ion-item>
            
        </ion-card>
  
  </ion-content>
