<ion-header>
  <ion-toolbar>
    <ion-title>lasana</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card mode="ios">
        <ion-img src="/assets/recetario/carne/lasana.jpeg"></ion-img>
        <ion-card-header>      
          <ion-card-title>Ingredientes</ion-card-title>
          </ion-card-header>
          <ion-card-content color="success">              
              • Carne picada de ternera sin grasa (750 g)
              • Sal (1 cdta., 5 g)<br>
              • Aceite de oliva (1 cda., 13.5 mL)<br>
              • ½ Cebolla (40 g)<br>
              • 3 Dientes de ajo (9 g)<br>
              • Tomate triturado (500 g)<br>
              • Albahaca (5 g)<br>
              • Pimienta (al gusto)<br>
              • 3 Calabacín (690 g)<br>
			  • Requesón bajo en grasa (350 g)<br>
			  • 1 Huevo (70 g)<br>
			  • Queso mozzarella rallado (450 g)<br>
                    
          </ion-card-content>
    
          <ion-card-header>
              <ion-card-title>Procedimiento</ion-card-title>
              </ion-card-header>
        
              <ion-card-content ALIGN="justify" color="#000">
                 
                  1. Sazona la carne con un poco de sal y saltéala en una sartén con una cucharada de aceite de oliva. <br><br>
                  2. Mientras tanto, pica la cebolla y los ajos y cocínalos ligeramente en una olla.<br><br>
                  3. Agrega a la olla la carne, el tomate triturado y la albahaca, condimenta con sal y pimienta y cuece lentamente la mezcla durante 35 minutos.<br><br>
                  4. Corta el calabacín en rodajas, agrega sal a las dos caras y ponlo a un lado durante 10 minutos.<br><br>
                  5. Una vez la sal haya absorbido el agua del calabacín, dale unos toques suaves con una servilleta de papel para eliminar el resto de humedad.<br><br>
                  6. Pon las rodajas secas en una sartén y saltéalas brevemente por los dos lados.<br><br>
                  7. Mezcla en un bol el requesón, el huevo y 2/3 de la mozzarella.<br><br>
                  8. Vierte una parte la mezcla de carne y tomate triturado en una fuente de horno, agrega una parte de la mezcla de queso y cúbrelo todo con rodajas de calabacín.<br><br>
				  9. Repite el proceso hasta que se terminen los ingredientes.<br><br>
				  10. Para terminar, espolvorea el resto de la mozzarella rallada por encima de la lasaña, cúbrela con papel de aluminio y hornéala durante 20 minutos a 180ºC en un horno precalentado.<br><br>
				  11. Retira el papel de aluminio y hornea durante 10 minutos más.<br><br>
				  12. ¡Que aproveche!<br><br>
              
              
              </ion-card-content>
    
          <ion-card-header>
            <ion-card-subtitle>Informacion Nutricional:</ion-card-subtitle>
          </ion-card-header>
           
          <ion-item color="success">
              <ion-card-content ALIGN="justify" color="#000">
                <p><strong>Tiempo :  <br><br>
                  Porciones: 6 aprox <br>
                  Energia:  591 Kcal  <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;· Proteínas: 51.2g <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;· Carbohidratos: 10.1g<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;· Azucares: 8.3g<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;· Grasas: 37.8g<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;De las cuales:<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Saturadas: 19.6g <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Monoinsaturadas: 14g<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Poliinsaturadas: 1.8g<br>
                  · Colesterol: 172mg
                </strong></p>             
              </ion-card-content>
          </ion-item>
          
      </ion-card>
</ion-content>
