<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-buttons >
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
    </ion-buttons>

    <ion-title>Fajitas de res</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card mode="ios">
    <ion-img src="/assets/recetario/carne/fajitas.jpg"></ion-img>
    <ion-card-header>      
      <ion-card-title>Ingredientes</ion-card-title>
      </ion-card-header>
      <ion-card-content color="success">
          •	250 g de bistec de res sin grasa <br>
          •	2 nopales <br>
          •	1 diente de ajo <br>
          •	2 manojos de cebollitas cambray <br>
          •	Sal y pimienta <br>
          •	250 g de bistec de res sin grasa <br>
          •	2 nopales <br>
          •	1 diente de ajo <br>
          •	2 manojos de cebollitas cambray <br>          
      </ion-card-content>

      <ion-card-header>
          <ion-card-title>Procedimiento</ion-card-title>
          </ion-card-header>
    
          <ion-card-content ALIGN="justify" color="#000">
              1.	Corta la carne en tiras, salpimienta. Pica finamente el ajo y rebana los nopales en tiras. <br><br>
              2.	En una sartén sofríe ligeramente el ajo. Cuando esté transparente, añade los nopales. Al cambiar de color incorpora la carne. Continúa la cocción hasta que esté bien cocida. <br><br>
              3.	Limpia las cebollitas. Ásalas en una sartén o a la parrilla hasta que se encuentren bien doradas. <br><br>
          </ion-card-content>

      <ion-card-header>
        <ion-card-subtitle>Informacion Nutricional:</ion-card-subtitle>
      </ion-card-header>
       
      <ion-item color="success">
          <ion-card-content ALIGN="justify" color="#000">
             <strong>Tiempo : 25min aprox <br><br>
              Porciones: 5 aprox <br>
              Kcal:	436.0 Kcal	<br>
              HCO:	16.0g<br>
              Proteinas:	66.8g <br>	
              Lipidos:	8.4g <br> </strong>             
          </ion-card-content>
      </ion-item>
      
  </ion-card>

</ion-content>
