<app-header></app-header>

<ion-content>
    <h1 padding>Hambuerguesa portobello</h1>

    <ion-card mode="ios">
            <ion-img src="/assets/recetario/carne/portobello.jpeg"></ion-img>
            <ion-card-header>      
              <ion-card-title>Ingredientes</ion-card-title>
              </ion-card-header>
              <ion-card-content color="success">              
                  • 8 Champiñones (400 gr)<br>
                  • Aceite de oliva (1 cda., 14 mL)<br>
                  • Sal y pimienta (al gusto)<br>
                  • Carne picada de ternera(450 gr)<br>
                  • Lechuga (50 gr)<br>
                  • 1/2 Cebolla morada (40 gr)<br>
                  • 1/2 Tomate (60 gr)<br>
                  • Mayonesa (50 mL)<br>
                        
              </ion-card-content>
        
              <ion-card-header>
                  <ion-card-title>Procedimiento</ion-card-title>
                  </ion-card-header>
            
                  <ion-card-content ALIGN="justify" color="#000">
                     
                      1. Precalienta el horno a 220°C.<br><br>
                      2. Lava los champiñones y retira los tallos. Con ayuda de un pincel de cocina, recubre con aceite el lado suave de los champiñones y alíñalos por los dos lados con sal y pimienta.<br><br>
                      3. Aliñ la carne picada con sal y pimienta. Forma hmburguesas del mismo diámetro que los champiñones.<br><br>
                      4. Coloca las hamburguesas en una bandej de horno con papel vegetal. Coloca los champiñones con las láminas hacia arriba.<br><br>
                      5. Hornea durante 14 minutos aproximadamente.<br><br>
                      6. Mientras tanto, rompe la lechuga en trozos pequeños y corta el tomate en rodajas y la cebolla en aros.<br><br>
                      7. Coloca encim de la mitad de los champiñones un poco de lechuga, un hamburguesa, mayonesa, una rodaja de tomate y un aro de cebolla y cúbrelos con otro champiñon.<br><br>
              8. ¡Que aproveche!<br><br>
                     
                  
                  </ion-card-content>
        
              <ion-card-header>
                <ion-card-subtitle>Informacion Nutricional:</ion-card-subtitle>
              </ion-card-header>
               
              <ion-item color="success">
                  <ion-card-content ALIGN="justify" color="#000">
                    <p><strong>Tiempo : 20<br><br>
                      Porciones: 4 aprox <br>
                      Energia:  388 Kcal  <br>
                      &nbsp;&nbsp;&nbsp;&nbsp;· Proteínas: 27.8g <br>
                      &nbsp;&nbsp;&nbsp;&nbsp;· Carbohidratos: 2.2g<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;· Azucares: 1.8g<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;· Grasas: 29.8g<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;De las cuales:<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Saturadas: 12.2g <br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Monoinsaturadas: 13.6g<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Poliinsaturadas: 2.6g<br>
                      · Colesterol: 97mg
                    </strong></p>             
                  </ion-card-content>
              </ion-item>
              
          </ion-card>
    
    </ion-content>
