<app-header></app-header>

<ion-content>
    <ion-card mode="ios">
            <ion-img src="/assets/recetario/pollo/crujiente.jpeg"></ion-img>
            <ion-card-header>      
              <ion-card-title>Ingredientes</ion-card-title>
              </ion-card-header>  
              <ion-card-content color="success">              
                  •    Pan integral 1 rodaja , 55g <br>
                  •    Aceite de oliva 1cda , 14g<br>
                  •    1 Diente de ajo 3g<br>
                  •   Yogur bajo en grasa 50g<br>
                  •   Queso parmessano en polvo 2cda 10 g<br>
                  •    Zumo  de limon 1cda 15ml<br>
                  •   Mostaza 1cdta , 10g <br>
                  •   Sal y pimienta al gusto<br>
                  •   1 Filete de pechuga de pollo 150g <br>
            •   1 Lechuga romana<br>
            
            
              </ion-card-content>
        
              <ion-card-header>
                  <ion-card-title>Procedimiento</ion-card-title>
                  </ion-card-header>
            
                  <ion-card-content ALIGN="justify" color="#000">
                     
                      1. Para preparar los picatostes, corta una rebanada de pan integral en cubitos y mezclalos con el aceite de oliva en un cuenco. Doralos en un sarten y reservalos para mas tarde. <br><br>
                      2. Pica el ajo y mezclalo con el yogur, el queso parmesano, una cucharada de zumo de limon y una cucharada de mostaza. Aliña con sal y pimienta.<br><br>
                      3. Unta el pollo con un poco del aliño y doralo en la misma sarten que usaste para los picatostes..<br><br>
                      4. Por ultimo, corta el pollo en tiras y sirvelo en la ensalada con los picatostes y el aliño. <br>
              6.¡Que aproveche!<br>
              
                  </ion-card-content>
        
              <ion-card-header>
                <ion-card-subtitle>Informacion Nutricional:</ion-card-subtitle>
              </ion-card-header>
               
              <ion-item color="success">
                  <ion-card-content ALIGN="justify" color="#000">
                    <p><strong>Tiempo : 10 min aprox <br><br>
                      Porciones: 1 aprox <br>
                      Energia:  499 Kcal  <br>
                      &nbsp;&nbsp;&nbsp;&nbsp;· Proteínas: 46.3g <br>
                      &nbsp;&nbsp;&nbsp;&nbsp;· Carbohidratos: 28.7 g<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;· Azucares: 6.9g<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;· Grasas: 19.8 g<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;De las cuales:<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Saturadas: 4.7g <br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Monoinsaturadas: 11.0 g<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Poliinsaturadas: 2.3<br>
                      · Colesterol: 95mg <br>
                    </strong></p>             
                  </ion-card-content>
              </ion-item>
              
          </ion-card>
    
    </ion-content>
