<app-header></app-header>

<ion-content>
  <h1 padding>Snack de pepino con queso cottage y salmon</h1>
    <ion-card mode="ios">
        <ion-img src="/assets/recetario/pescado/pepino.PNG"></ion-img>
        <ion-card-header>      
          <ion-card-title>Ingredientes</ion-card-title>
          </ion-card-header>
          <ion-card-content color="success">              
              • 1/2 Pepino (150 g)
              • Queso cottage (400 g)<br>
              • Zumo de limon (1 cdta., 15 mL)<br>
              • Sal y pimienta (al gusto)<br>
              • Enelod picado (1 cdta., 4 g)<br>		 
			  • Salmon ahumado (150 g)<br>

                    
          </ion-card-content>
    
          <ion-card-header>
              <ion-card-title>Procedimiento</ion-card-title>
              </ion-card-header>
        
              <ion-card-content ALIGN="justify" color="#000">
                 
                  1. Lava el pepino y cortalo en trocitos pequenos. <br><br>
                  2. Mezclalo con el queso cottage y una cucharada de zumo de limon.<br><br>
                  3. Agrega sal, pimienta y eneldo y sirvelo junto con el salmon ahumado.<br><br>
				  4.  ¡Que aproveche! <br><br>
              
              </ion-card-content>
    
          <ion-card-header>
            <ion-card-subtitle>Informacion Nutricional:</ion-card-subtitle>
          </ion-card-header>
           
          <ion-item color="success">
              <ion-card-content ALIGN="justify" color="#000">
                <p><strong>Tiempo : <br><br>
                  Porciones: 1 aprox <br>
                  Energia:  364 Kcal  <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;· Proteínas: 40.9g <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;· Carbohidratos: 8.8g<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;· Azucares: 8.3g<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;· Grasas: 17.6g<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;De las cuales:<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Saturadas: 7.4g <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Monoinsaturadas: 6.3g<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Poliinsaturadas: 3.5g<br>
                  · Colesterol: 69mg
                </strong></p>             
              </ion-card-content>
          </ion-item>
          
      </ion-card>

</ion-content>
