<ion-header>
  <ion-toolbar>
    <ion-title>muffins</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card mode="ios">
        <ion-img src="/assets/recetario/carne/muffins.jpeg"></ion-img>
        <ion-card-header>      
          <ion-card-title>Ingredientes</ion-card-title>
          </ion-card-header>
          <ion-card-content color="success">              
              • 2 Huevos (140 g)
              • Leche de almendras (1 cda., 15 mL)<br>
              • Almendras molidas (1 cda., 10 g)<br>
              • Aceite de oliva (1 cdta., 7 mL)<br>
              • Levadura en polvo (½ cdta., 2.5 g)<br>
              • Sal y pimienta (al gusto)<br>
              • Carne picada de ternera (100 g)<br>
              • Tomillo (al gusto)<br>
              • Queso gouda en lonchas (15 g)<br>
			  • Lechuga iceberg (20 g)<br>
                    
          </ion-card-content>
    
          <ion-card-header>
              <ion-card-title>Procedimiento</ion-card-title>
              </ion-card-header>
        
              <ion-card-content ALIGN="justify" color="#000">
                 
                  1. Precalienta el horno a 180ºC.<br><br>
                  2. Para preparar los bollos, empieza por mezclar un huevo con la leche de almendras.<br><br>
                  3. Agrega las almendras molidas, el aceite de oliva y la levadura y mezcla bien.<br><br>
                  4. Divide la masa en dos, coloca cada mitad en un hueco de un molde para muffins y hornea durante 5 minutos.<br><br>
                  5. Mientras tanto, casca los huevos en otro bol, alíñalos con sal y pimienta y bátelos con un tenedor.<br><br>
                  6. Después de esos 5 minutos, saca el molde para muffins y divide el huevo batido en otros dos huecos. Vuelve a colocar el molde en el horno y cocina durante 10 minutos más.<br><br>
                  7. Mientras se cocinan los huevos y la masa, mezcla la carne con el tomillo y forma dos bolas.<br><br>
                  8. Aplasta las bolas y fríelas por los dos lados en una sartén con aceite de oliva a fuego medio durante 4 minutos aproximadamente.
				  9. Saca el molde del horno, retira de los huecos los panes y los huevos y deja que se enfríen.<br><br>
				  10. Corta los bollos por la mitad y rellénalos con la carne, los huevos, el queso y la lechuga.<br><br>
				  11. ¡Que aproveche!<br><br>
              
              
              </ion-card-content>
    
          <ion-card-header>
            <ion-card-subtitle>Informacion Nutricional:</ion-card-subtitle>
          </ion-card-header>
           
          <ion-item color="success">
              <ion-card-content ALIGN="justify" color="#000">
                <p><strong>Tiempo : <br><br>
                  Porciones: 2 aprox <br>
                  Energia:  293 Kcal  <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;· Proteínas: 21.6g <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;· Carbohidratos: 2.1g<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;· Azucares: 1.5g<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;· Grasas: 22.1g<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;De las cuales:<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Saturadas: 7.2g <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Monoinsaturadas: 10.5g<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Poliinsaturadas: 2.3g<br>
                  · Colesterol: 312mg
                </strong></p>             
              </ion-card-content>
          </ion-item>
          
      </ion-card>

</ion-content>
