<app-header></app-header>

<ion-content>

  <h1 padding>Tostada de aguacate y salmon ahumado</h1>

    <ion-card mode="ios">
        <ion-img src="/assets/recetario/pescado/aguacate.PNG"></ion-img>
        <ion-card-header>      
          <ion-card-title>Ingredientes</ion-card-title>
          </ion-card-header>
          <ion-card-content color="success">              
              • Pan integral (2 rodaja,60 g)
              • 1/4 Cebolla (18 g)<br>
              • Eneldo fresco (2 cdta., 10 g)<br>
              • Requeson bajo en grasa(50 g)<br>
              • 1/2 Limon (40 g)<br>		 
			  • Pepino (50 g)<br>
			  • 1/2 Aguacate (110 g)<br>
			  • Salmon ahumado (70 g)<br>
			  
  

         
                    
          </ion-card-content>
    
          <ion-card-header>
              <ion-card-title>Procedimiento</ion-card-title>
              </ion-card-header>
        
              <ion-card-content ALIGN="justify" color="#000">
                 
                  1. Tuesta las dos rebanadas de pan. <br><br>
                  2. Pica la cebolla y el eneldo  y mezclalos con el requeson y el zumo de medio limon.Unta el pan con esa mezcla.<br><br>
                  3. Corta el pepino y el aguacate en rodajas y colocalas encima de la tostada.<br><br>
                  4. Por ultimo, coloca el salmon ahumado encima de todo y sirve la tostada con un poco de eneldo.<br><br>
				  5.  ¡Que aproveche! <br><br>
              
              </ion-card-content>
    
          <ion-card-header>
            <ion-card-subtitle>Informacion Nutricional:</ion-card-subtitle>
          </ion-card-header>
           
          <ion-item color="success">
              <ion-card-content ALIGN="justify" color="#000">
                <p><strong>Tiempo : <br><br>
                  Porciones: 1 aprox <br>
                  Energia:  486 Kcal  <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;· Proteínas: 28.4g <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;· Carbohidratos: 32.6g<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;· Azucares: 10.8g<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;· Grasas: 23.7g<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;De las cuales:<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Saturadas: 5.7g <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Monoinsaturadas: 12.4g<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Poliinsaturadas: 5.3g<br>
                  · Colesterol: 45mg
                </strong></p>             
              </ion-card-content>
          </ion-item>
          
      </ion-card>

</ion-content>
