<ion-header>
  <ion-toolbar>
    <ion-title>
      Recetas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    
  <ion-card routerLink="/carne" mode="ios">
      <ion-img  src="/assets/res.jpg"></ion-img>
      <ion-card-header>
        <ion-card-title>Carne</ion-card-title>
      </ion-card-header>
  </ion-card>

  <ion-card  routerLink="/pollo" mode="ios">
    <ion-img src="/assets/pollo.jpg"></ion-img>
    <ion-card-header>
      <ion-card-title>Pollo</ion-card-title>
    </ion-card-header>    
</ion-card>

<ion-card routerLink="/pescado" mode="ios">
  <ion-img src="/assets/pescado.jpg"></ion-img>
  <ion-card-header>
    <ion-card-title>Pescado</ion-card-title>
  </ion-card-header>
</ion-card>
    
</ion-content>
