<ion-header>
  <ion-toolbar>
    <ion-title>
      Acerca de nosotros
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

<ion-card mode="ios">
  
  <img class="slide-image" src="/assets/lify.png" >

  <ion-card-header >    
    <ion-card-title color="primary">Lify</ion-card-title>
  </ion-card-header>

  <ion-content >
      <p padding ALiGN="justify">
          Lyfi es una herramienta gratuita la cual le proporcionara al usuario la facilidad
          de encontrar recetas saludables, Lify en trabajo junto con nutriologos brindas recetas
          que te permitiran una dieta saludable y balanceada
      </p>
      <p padding ALiGN="justify">
          <strong> Desarrolladores de Unum: </strong>  <br><br>
          Dulce Mariangel Soto España <br>
          Edgar Julio Garcia Rodriguez <br>
          Javier Anguiano de Lara <br>
          Ricardo Ramirez
      </p>
      <p padding ALiGN="justify">
          Para el desarrollo se tuvo el apoyo de dos nutrilogogas, informacion y direcciones a continuacion:  
      </p>
      <p padding ALiGN="justify">
        Samanta Lisette Rodriguez Soto <br>
        Matricula: 1617076 <br>
        Facultad de Salud Pública y Nutrición <br>
        Semestre en curso : 10mo Semestre
      </p>
      <p padding ALiGN="justify">
         Lic. Adriana I. Martinez Torres <br>
          Ced. Prof: 4009796 U.A.N.L.<br>
          <ion-item color="primary" href="https://www.facebook.com/nutriologa.adriana.9?__tn__=%2CdlC-R-R&eid=ARCHgY0sEYtpEms0UXVKPTlg2lNOB3EslQyCWwa41Xr7mjnjeht2NBnFHVADGQSbtilDL_aQE-9TRyeh&hc_ref=ARRChd_S6lW0Eb-wFsp0qonX5L1S7J-gORIaGxsDH3rneeBDV1qXCO2auSL63ZZY2e0">
            <ion-label> <strong> facebook </strong> </ion-label>
          </ion-item>
        </p>
  </ion-content>

</ion-card>

</ion-content>
