<ion-header no-border>
  <ion-toolbar>

      <ion-buttons slot="start">
          <ion-back-button  text="Regresar" defaultHref="/" ></ion-back-button>
        </ion-buttons>

    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content ALIGN="justify" padding>

    <h2> Incrementa la creatividad</h2>

    Cuando el cerebro está descansado y la producción de hormonas está equilibrada, la memoria funciona a la perfección. Eso hace que la imaginación sea más potente y nosotros, más creativos.
    
    <h2> Ayuda a perder peso </h2>
    
    La falta de sueño hace que los adipocitos (células grasas) liberen menos leptina, la hormona supresora del apetito. El insomnio provoca, además, que el estómago libere más grelina (la hormona del apetito). Ambas acciones hacen que dormir poco se asocie a la obesidad.
    
    <h2>Te hace estar más sano </h2>
    
    Nuestro sistema inmunitario emplea el tiempo de sueño para regenerarse, lo que le permite luchar con eficacia contra contra las toxinas y los gémenes que de forma continua nos amenazan. Con un sistema inmunitario débil tenemos muchas menos posibilidades de superar con éxito las infecciones.
    
    <h2>Mejora la memoria</h2>
    
    Dormir fortalece las conexiones neuronales. Durante la fase REM del sueño, el hipocampo, el almacén de nuestra memoria, se restaura, transformando la memoria a corto plazo en memoria a largo plazo. En la Universiad de Hafi (Israel) lo han corroborado con los resultados de un estudio que afirma que una siesta de 90 minutos a media tarde ayuda a fijar los recuerdos y la destreza.
    
    <h2>Protege el corazón</h2>
    
    Un reciente estudio publicado en el European Heart Journal afirma que los insomnes tienen tres veces más posibilidades de sufrir una insuficiencia cardíaca que los que duermen a pierna suelta. El insomnio aumenta los niveles en sangre de las hormonas del estrés, lo que aumenta la tensión arterial y la frecuencia cardíaca. Otros estudios también ligan el insomnio a tener el colesterol más alto.
    
    <h2>Reduce la depresión </h2>
    
    Cuando dormimos, el cuerpo se relaja y eso facilita la producción de melanina y serotonina. Estas hormonas contrarrestan los efectos de las hormonas del estrés (adrenalina y cortisol) y nos ayudan a ser mas felices y emocionalmente mas fuertes. La falta de sueño provoca, por el contrario, una liberación aumentada y sostenida de las hormonas del estrés.

    <ion-item href="https://fundaciondelcorazon.com/corazon-facil/blog-impulso-vital/2727-dormir-bien-6-beneficios-sueno.html">
      <ion-label> <strong> Fuente: Fundacion del corazon </strong> </ion-label>
    </ion-item>

  </ion-content>
