<app-header></app-header>

<ion-content >

  <h1 padding>Ensalada nizarda</h1>

  <ion-card mode="ios">
      <ion-img src="assets/recetario/pescado/nizarda.jpeg"></ion-img>
      <ion-card-header>      
        <ion-card-title>Ingredientes</ion-card-title>
        </ion-card-header>
        <ion-card-content color="success">              
            • 2 Huevos (140 g)
            • Atún claro natural (150 g)<br>
            • Aceitunas verdes sin hueso (50 g)<br>
            • 1 Tomate (120 g)<br>
            • 1 Lechuga romana (125 g)<br>
      • 1 Cebolla morada (80 g)<br>
      • ½ Limón (40 g)<br>
      • Aceite de oliva (1 cdta., 7 mL)<br>
      • Hiervas provenzales (1 cdta., 3 g)<br>
      • Sal y pimienta (al gusto)<br>
  
                  
        </ion-card-content>
  
        <ion-card-header>
            <ion-card-title>Procedimiento</ion-card-title>
            </ion-card-header>
      
            <ion-card-content ALIGN="justify" color="#000">
               
                1. Cuece los huevos durante 9 minutos. <br><br>
                2. Mientras tanto, escurre el atún y ponlo en un cuenco. Sepáralo con la ayuda de un tenedor.<br><br>
                3. Corta las aceitunas por la mitad y el tomate en cubitos.<br><br>
                4. Saca los huevos del agua hirviendo y pásalos por agua fría. Pélalos y córtalos en cuartos.<br><br>
                5. Trocea la lechuga ya lavada y ponla en un plato.<br><br>
        6. Reparte por encima el atún, las aceitunas, el tomate, el huevo y la cebolla cortada en aros.<br><br>
        7. Para el aliño, exprime medio limón y mézclalo con el aceite de oliva, las hierbas provenzales, sal y pimienta. Úsalo para aliñar la ensalada.<br><br>
        8. ¡Que aproveche!<br><br>
            
            </ion-card-content>
  
        <ion-card-header>
          <ion-card-subtitle>Informacion Nutricional:</ion-card-subtitle>
        </ion-card-header>
         
        <ion-item color="success">
            <ion-card-content ALIGN="justify" color="#000">
              <p><strong>
                Porciones: 1 aprox <br>
                Energia:  560 Kcal  <br>
                &nbsp;&nbsp;&nbsp;&nbsp;· Proteínas: 56.0g <br>
                &nbsp;&nbsp;&nbsp;&nbsp;· Carbohidratos: 15.3g<br>
                &nbsp;&nbsp;&nbsp;&nbsp;· Azucares: 12.6g<br>
                &nbsp;&nbsp;&nbsp;&nbsp;· Grasas: 28.0g<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;De las cuales:<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Saturadas: 6.2g <br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Monoinsaturadas: 15.0g<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Poliinsaturadas: 4.1g<br>
                · Colesterol: 632mg
              </strong></p>             
            </ion-card-content>
        </ion-item>
        
    </ion-card>

</ion-content>
