<ion-header>
  <ion-toolbar>
    <ion-title>filete-huevo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card mode="ios">
        <ion-img src="/assets/recetario/carne/filete_huevo.jpeg"></ion-img>
        <ion-card-header>      
          <ion-card-title>Ingredientes</ion-card-title>
          </ion-card-header>
          <ion-card-content color="success">              
              •  2 Filetes de ternera (400 g)
              • Aceite de oliva (2 cda., 13.5 mL)<br>
              • 2 Huevos (140 g)<br>
              • ¼ Lechuga iceberg (188 g)<br>
              • 1 Tomate (120 g)<br>
              • ½ Pepino (150 g)<br>
              • Vinagre (1 cda., 16 g)<br>
              • Sal y pimienta (al gusto)<br>
              • ½ Pimiento rojo (75 g)<br>
                    
          </ion-card-content>
    
          <ion-card-header>
              <ion-card-title>Procedimiento</ion-card-title>
              </ion-card-header>
        
              <ion-card-content ALIGN="justify" color="#000">
                 
                  1. Sella los filetes de ternera en una sartén con una cucharadita de aceite de oliva durante 3 minutos cada lado.<br><br>
                  2. Envuelve los filetes en papel de aluminio y hornea durante 15 minutos a 110ºC.<br><br>
                  3. Mientras tanto, fríe los huevos en una sartén hasta que los bordes estén dorados.<br><br>
                  4. Parte las hojas de lechuga en trozos pequeños y ponlos en un bol.<br><br>
                  5. Corta el pimiento, el tomate y el pepino en trocitos y agrégalos al bol.<br><br>
                  6. Para el aliño, mezcla una cucharada de aceite de oliva con una cucharada de vinagre, condimenta con sal y pimienta y esparce por la ensalada.<br><br>
                  7. Sirve el filete de ternera, el huevo frito y la ensalada en un plato.<br><br>
                  8. ¡Que aproveche!<br><br>
              
              
              </ion-card-content>
    
          <ion-card-header>
            <ion-card-subtitle>Informacion Nutricional:</ion-card-subtitle>
          </ion-card-header>
           
          <ion-item color="success">
              <ion-card-content ALIGN="justify" color="#000">
                <p><strong>Tiempo : <br><br>
                  Porciones: 2 aprox <br>
                  Energia:  502 Kcal  <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;· Proteínas: 54.8g <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;· Carbohidratos: 7.9g<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;· Azucares: 8.2g<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;· Grasas: 26.8g<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;De las cuales:<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Saturadas: 8.6g <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Monoinsaturadas: 13.3g<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Poliinsaturadas: 2.6g<br>
                  · Colesterol: 375mg
                </strong></p>             
              </ion-card-content>
          </ion-item>
          
      </ion-card>

</ion-content>
