<app-header></app-header>

<ion-content>
    <ion-card mode="ios">
            <ion-img src="assets/recetario/pollo/coco.jpeg"></ion-img>
            <ion-card-header>      
              <ion-card-title>Ingredientes</ion-card-title>
              </ion-card-header>  
              <ion-card-content color="success">              
                  • 300g , 2 Filetes de pechuga de pollo<br>
                  •  50ml Aceite de coco <br>
                  • 40g de 1/2 Cebolla<br>
                  •  5g de Cilantro fresco<br>
                  • 400g de Tomate troceado<br>
                  • 74 ml de Caldo de pollo<br>
                  • 5g de garam masala<br>
                  • Sal y pimienta al gusto<br>
                  •  Comino molido al gusto <br>
                  •  150 ml  de Leche de Coco <br>
                  • 1 1/2 cda,, 15 g de Harina de almendras <br>
            
              </ion-card-content>
        
              <ion-card-header>
                  <ion-card-title>Procedimiento</ion-card-title>
                  </ion-card-header>
            
                  <ion-card-content ALIGN="justify" color="#000">
                     
                      1. Retira el exceso de grasa del pollo y cortalo en trocitos pequeños. <br><br>
                      2. Calienta el aceite de coco en un sarten y dora las tiras de pechuga por los dos lados, durante 10 minutos aproximadamente.<br><br>
                      3. Mientras se hace el pollo, pica la cebolla y el cilantro.<br><br>
                      4. Agrega la cebolla al sarten y cocina durante 5 minutos mas. <br><br>
                      5. Añade tomate troceado y el caldo de pollo formando una salsa y aliñala bien.<br><br>
                      6. Sin dejar de remover, lleva la sarten a hervir. Reduce el fuego y deja que se cocine durante aprox 10 min removiendo de vez en cuando.<br><br>
                      7. Añade al sarten la leche de coco y la harina de almendras, mezcla bien y deja que se cocine durante 3 minutos mas. <br>
                      8. Por ultimo, agrega la mitad del cilantro picado y utiliza el resto para decorar. <br>
                      9. ¡Que aproveche!<br>
              
                  </ion-card-content>
        
              <ion-card-header>
                <ion-card-subtitle>Informacion Nutricional:</ion-card-subtitle>
              </ion-card-header>
               
              <ion-item color="success">
                  <ion-card-content ALIGN="justify" color="#000">
                    <p><strong>Tiempo : 10 min aprox <br><br>
                      Porciones: 1 aprox <br>
                      Energia:  602 Kcal  <br>
                      &nbsp;&nbsp;&nbsp;&nbsp;· Proteínas: 42.9g <br>
                      &nbsp;&nbsp;&nbsp;&nbsp;· Carbohidratos: 8.1g<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;· Azucares: 7.1 g<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;· Grasas: 43.2 g<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;De las cuales:<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Saturadas: 35.1 g <br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Monoinsaturadas: 1.8 g<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Poliinsaturadas: 18 g<br>
                      · Colesterol: 98 mg
                    </strong></p>             
                  </ion-card-content>
              </ion-item>
              
          </ion-card>
    
    </ion-content>
