<app-header></app-header>

<ion-content >

  <h1 padding>One pan de pescado con salsa mostaza</h1>

  <ion-card mode="ios">
      <ion-img src="/assets/recetario/pescado/one_mostaza.jpeg"></ion-img>
      <ion-card-header>      
        <ion-card-title>Ingredientes</ion-card-title>
        </ion-card-header>
        <ion-card-content color="success">              
            • Arroz integral (130 g)
            • ½ Brócoli (170 g)<br>
            • Aceite de oliva (1 cdta., 7 mL)<br>
            • Sal y pimienta (al gusto)<br>
            • Mostaza (1 cda., 15 g)<br>
            • Zumo de naranja natural (2 cda., 30 mL)<br>
            • Jengibre molido (½ cdta., 1 g)<br>
      • Filetes de lucioperca (zander) (300 g)<br>
       
                  
        </ion-card-content>
  
        <ion-card-header>
            <ion-card-title>Procedimiento</ion-card-title>
            </ion-card-header>
      
            <ion-card-content ALIGN="justify" color="#000">
               
                1. Precalienta el horno a 200ºC. <br><br>
                2. Prepara el arroz según las instrucciones del envase.<br><br>
                3. Mientras tanto, separa el brócoli en ramitos y corta el calabacín en tiras.<br><br>
                4. Mezcla las verduras con el aceite de oliva, sal y pimienta. Reserva a un lado.<br><br>
                5. A continuación, mezcla la mostaza, el zumo de naranja y el jengibre.<br><br>
                6. Coloca el pescado en una fuente de horno, píntalo con el marinado y reparte las verduras por encima.<br><br>
                7. Mete la fuente en el horno y cocínala durante aproximadamente 15 minutos. Sirve con el arroz.<br><br>
        8. ¡Que aproveche!<br><br>
               
            
            </ion-card-content>
  
        <ion-card-header>
          <ion-card-subtitle>Informacion Nutricional:</ion-card-subtitle>
        </ion-card-header>
         
        <ion-item color="success">
            <ion-card-content ALIGN="justify" color="#000">
              <p><strong>Tiempo : <br><br>
                Porciones: 1 aprox <br>
                Energia:  453 Kcal  <br>
                &nbsp;&nbsp;&nbsp;&nbsp;· Proteínas: 39.6g <br>
                &nbsp;&nbsp;&nbsp;&nbsp;· Carbohidratos: 54.8g<br>
                &nbsp;&nbsp;&nbsp;&nbsp;· Azucares: 6.6g<br>
                &nbsp;&nbsp;&nbsp;&nbsp;· Grasas: 6.9g<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;De las cuales:<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Saturadas: 1.2g <br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Monoinsaturadas: 3.3g<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Poliinsaturadas: 1.6g<br>
                · Colesterol: 105mg
              </strong></p>             
            </ion-card-content>
        </ion-item>
        
    </ion-card>

</ion-content>
