<app-header></app-header>

<ion-content>
  <h1 padding>Enslada thai de verduras</h1>
    <ion-card mode="ios">
        <ion-img src="/assets/recetario/pescado/thai.PNG"></ion-img>
        <ion-card-header>      
          <ion-card-title>Ingredientes</ion-card-title>
          </ion-card-header>
          <ion-card-content color="success">              
              • 2 Zanahorias (300 g)
              • Colinabo (150 g)<br>
              • Cilantro fresco (al gusto)<br>
              • 2 Tomates (240 g)<br>
              • 1 Diente de ajo (3 g)<br>		 
			  • Gambas cocidas (50 g)<br>
			  • Salsa de soja (3 cda., 45 mL)<br>
			  • Chile en polvo (al gusto )<br>
			  • Zumo de lima (2 cda., 30 mL)<br>
			  • Gacahuetes tostados (2 cda., 20 g)<br>

                    
          </ion-card-content>
    
          <ion-card-header>
              <ion-card-title>Procedimiento</ion-card-title>
              </ion-card-header>
        
              <ion-card-content ALIGN="justify" color="#000">
                 
                  1. Pela las zanahorias y el colinabo y rallalos.Coloca la ralladura en un bol grande. <br><br>
                  2. Retira las hojas de cilantro del tallo, picalas y anadelas al bol.<br><br>
                  3. Corta los tomates en dado y pela y tritura el ajo.Agrega al bol los tomates, el ajo y las gambas y mezcla bien.<br><br>
				  4. Para el alino, mezcla la salsa de soja, el chile en polvo y la lima.Salpicalo sobre la ensalada<br><br>
				  5. Pica los cacahuetes y usalos para decorar la ensalada<br><br>
				  6.  ¡Que aproveche! <br><br>
              
              </ion-card-content>
    
          <ion-card-header>
            <ion-card-subtitle>Informacion Nutricional:</ion-card-subtitle>
          </ion-card-header>
           
          <ion-item color="success">
              <ion-card-content ALIGN="justify" color="#000">
                <p><strong>Tiempo : <br><br>
                  Porciones: 1 aprox <br>
                  Energia:  592 Kcal  <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;· Proteínas: 38.5g <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;· Carbohidratos: 40.5g<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;· Azucares: 10.8g<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;· Grasas: 28.7g<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;De las cuales:<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Saturadas: 6.5g <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Monoinsaturadas: 13.1g<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Poliinsaturadas: 8.4g<br>
                  · Colesterol: 93mg
                </strong></p>             
              </ion-card-content>
          </ion-item>
          
      </ion-card>

</ion-content>
