<app-header></app-header>

<ion-content>

  <h1 padding>Filete de ternera con judias verdes</h1>

    <ion-card mode="ios">
        <ion-img src="/assets/recetario/carne/filete.jpeg"></ion-img>
        <ion-card-header>      
          <ion-card-title>Ingredientes</ion-card-title>
          </ion-card-header>
          <ion-card-content color="success">              
              •  1 Diente de ajo (3 g)
              • 2 Cebolletas (40 g)<br>
              • Judías verdes (200 g)<br>
              • Yogur natural (100 g)<br>
              • Sal y pimienta (al gusto)<br>
              • Aceite de oliva (2 cda., 13.5 mL)<br>
              • Filete de ternera (250 g)<br>
              • Tomillo (al gusto)<br>
              • Mejorana (al gusto)<br>
			  • Orégano (al gusto)<br>
                    
          </ion-card-content>
    
          <ion-card-header>
              <ion-card-title>Procedimiento</ion-card-title>
              </ion-card-header>
        
              <ion-card-content ALIGN="justify" color="#000">
                 
                  1. Pela y pica el ajo y corta las cebolletas en aritos.<br><br>
                  2. Pon las judías verdes en una olla pequeña con agua, cuécelas a fuego medio durante 5 minutos y luego escúrrelas.<br><br>
                  3. Para la salsa, aliña el yogur con sal y pimienta.<br><br>
                  4. En un cuenco, mezcla la mitad del aceite de oliva con sal, pimienta, tomillo, mejorana y orégano. Asegúrate de poner la misma cantidad de tomillo, mejorana y orégano.<br><br>
                  5. Marina los filetes con la mezcla de especias y aceite y deja que tome sabor.<br><br>
                  6. Calienta el resto del aceite en una sartén y sofríe el ajo y la cebolleta. Reserva algunos aritos de cebolleta para usar como decoración al final de la receta.<br><br>
                  7. Sofríe durante unos minutos y agrega los filetes a la sartén. Sella por los dos lados durante 1 o 2 minutos.<br><br>
                  8. Retira todo de la sartén y enróllalo en papel de aliminio. Cocínalo en el horno durante 10 minutos a 120ºC.<br><br>
				  9. Por último, sirve las judías verdes, la carne y la salsa de yogur en un plato y decora con el resto de aritos de cebolleta.<br><br>
				  10. ¡Que aproveche!<br><br>
              
              
              </ion-card-content>
    
          <ion-card-header>
            <ion-card-subtitle>Informacion Nutricional:</ion-card-subtitle>
          </ion-card-header>
           
          <ion-item color="success">
              <ion-card-content ALIGN="justify" color="#000">
                <p><strong>Tiempo : <br><br>
                  Porciones: 2 aprox <br>
                  Energia:  323 Kcal  <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;· Proteínas: 32.2g <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;· Carbohidratos: 8.8g<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;· Azucares: 5.9g<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;· Grasas: 17g<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;De las cuales:<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Saturadas: 5.7g <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Monoinsaturadas: 9g<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Poliinsaturadas: 1.2g<br>
                  · Colesterol: 66mg
                </strong></p>             
              </ion-card-content>
          </ion-item>
          
      </ion-card>

</ion-content>


