<app-header></app-header>

<ion-content>
  <h1 padding>Arroz con ternera y verduras</h1>

  <ion-card mode="ios">
          <ion-img src="/assets/recetario/carne/arroz_verduras.jpeg"></ion-img>
          <ion-card-header>      
            <ion-card-title>Ingredientes</ion-card-title>
            </ion-card-header>
            <ion-card-content color="success">              
                • Arroz de grano corto (300 gr)<br>
                • 1/2 Zanahoria (75 gr)<br>
                • Pimiento rojo (75 gr)<br>
                • Pimiento verde (75 gr)<br>
                • Carne de ternera (200 gr)<br>
                • Aceite de sésamo (1 cda., 14 mL)<br>
                • Maíz enlatado (20 gr)<br>
                • Guisates enlatados (20 gr)<br>
                • Sal y pimienta (al gusto)<br>
          • Semillas de sésamo (1 cda., 8 gr)<br>
          • Perejil (al gusto)<br>
                      
            </ion-card-content>
      
            <ion-card-header>
                <ion-card-title>Procedimiento</ion-card-title>
                </ion-card-header>
          
                <ion-card-content ALIGN="justify" color="#000">
                   
                    1. Prepara el arroz según las instruciones del envase.<br><br>
                    2. Mientras se cuece el arroz, lava las verduras frescas y córtalas junto con la ternera en cubitos.<br><br>
                    3. Calienta la mitad del aceite de sésamo en una sartén y saltea los pimientos y la zanahoria durante 3 minutos aproximadamente. Un poco antes de los 3 minutos, agrega el maíz y los guisantes.<br><br>
                    4. Coloca las verduras en un bol y resérvalas para más tarde.<br><br>
                    5. Aliña los cubitos de ternera con sal y pimienta y fríelos en el resto de aceite de sésamo durante 5 minutos aproximadamente.<br><br>
                    6. Mientras tanto, tuesta las semillas de sésamo en una sartén aparte hasta que se doren.<br><br>
                    7. Por último, mezcla todos los ingredientes y adorna con perejil.<br><br>
            8. ¡Que aproveche!<br><br>
          
                   
                
                </ion-card-content>
      
            <ion-card-header>
              <ion-card-subtitle>Informacion Nutricional:</ion-card-subtitle>
            </ion-card-header>
             
            <ion-item color="success">
                <ion-card-content ALIGN="justify" color="#000">
                  <p><strong>Tiempo : 15 minutos<br><br>
                    Porciones: 3 aprox <br>
                    Energia:  527 Kcal  <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;· Proteínas: 23.4g <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;· Carbohidratos: 83.3g<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;· Azucares: 4.6g<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;· Grasas: 9.5g<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;De las cuales:<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Saturadas: 2.1g <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Monoinsaturadas: 3.8g<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Poliinsaturadas: 3.0g<br>
                    · Colesterol: 34mg
                  </strong></p>             
                </ion-card-content>
            </ion-item>
            
        </ion-card>
  
  </ion-content>