<ion-header>
  <ion-toolbar>
    <ion-title>feta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 padding>Salmon relleno de queso feta y espinacas</h1>
    <ion-card mode="ios">
        <ion-img src="/assets/recetario/pescado/relleno.PNG"></ion-img>
        <ion-card-header>      
          <ion-card-title>Ingredientes</ion-card-title>
          </ion-card-header>
          <ion-card-content color="success">              
              • Filete de salmon (500 g)
              • Sal y pimienta (al gusto)<br>
              • Champinones (100 g)<br>
              • Espinacas congeladas(225 g)<br>
              • 1 Diente de ajo (3 g)<br>		 
			  • Queso felta (15 g)<br>
			  • Zumo de limon (2 cdta., 10mL)<br>
			  
  

         
                    
          </ion-card-content>
    
          <ion-card-header>
              <ion-card-title>Procedimiento</ion-card-title>
              </ion-card-header>
        
              <ion-card-content ALIGN="justify" color="#000">
                 
                  1. Coloca medio filete de salmon en un trozo de papel de aluminio y alinalo con sal y pimienta. <br><br>
                  2. Lava los champinones, cortalos en laminas y colocalos encima del salmon.<br><br>
                  3. Tritura el diente de ajo y cocinalo en una sarten junto con las espinacas.<br><br>
                  4. Desmueza el queso feta con las manos y colocalos, junto con las espinacas, encima de los champinones.<br><br>
				  5. Por ultimo, coloca encima la otra mitad del filete de salmon y alinalo con unas gotas de limon.Cubrelo con papel de aluminio y hornealo durante 25 minutos a 175C.<br><br>
				  6.  ¡Que aproveche! <br><br>
              
              </ion-card-content>
    
          <ion-card-header>
            <ion-card-subtitle>Informacion Nutricional:</ion-card-subtitle>
          </ion-card-header>
           
          <ion-item color="success">
              <ion-card-content ALIGN="justify" color="#000">
                <p><strong>Tiempo : <br><br>
                  Porciones: 1 aprox <br>
                  Energia:  513 Kcal  <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;· Proteínas: 56.4g <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;· Carbohidratos: 1.9g<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;· Azucares: 1.1g<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;· Grasas: 30.3g<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;De las cuales:<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Saturadas: 7.3g <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Monoinsaturadas: 9.5g<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Poliinsaturadas: 8.5g<br>
                  · Colesterol: 150mg
                </strong></p>             
              </ion-card-content>
          </ion-item>
          
      </ion-card>

</ion-content>
