<app-header></app-header>

<ion-content>
    <h1 padding>Filete de ternera picante con ensalada de aguacate</h1>

    <ion-card mode="ios">
            <ion-img src="/assets/recetario/carne/ensalada_picante.jpeg"></ion-img>
            <ion-card-header>      
              <ion-card-title>Ingredientes</ion-card-title>
              </ion-card-header>
              <ion-card-content color="success">              
                  • Chile en polvo (8 gr)<br>
                  • Sal y pimienta (al gusto)<br>
                  • Filete de ternera (225 gr)<br>
                  • Brotes de espinca (170 gr)<br>
                  • 1 Aguacate (220 gr)<br>
                  • 1 Pimiento rojo (150 gr)<br>
                  • 1 Tomate (120 gr)<br>
                  • Cilantro (5 gr)<br>
                  • Zumo de lima (40 mL)<br>
            • ceite de oliva (1 cda., 14 mL)<br>
                        
              </ion-card-content>
        
              <ion-card-header>
                  <ion-card-title>Procedimiento</ion-card-title>
                  </ion-card-header>
            
                  <ion-card-content ALIGN="justify" color="#000">
                     
                      1. Mezcla el chile en polvo con una pizca de sal. Unta el filete con la mezcla.<br><br>
                      2. Fríe el filete en una sartén antiadherente con la mitad del aceite de oliva durante 8 minuos por cada lado. Cúbrelo con papel de aluminio y deja que repose.<br><br>
                      3. Mientras tanto, lava las espinacas.<br><br>
                      4. Corta el aguacate, el pimiento y los tomates en cubitos y ponlos en un bol con las espinacas.<br><br>
                      5. Por último, pica el cilantro y mézclalo en un cuenco con el zumo de lima y el resto del aceite de oliva. Usa la mezcla para aliñar la ensalada.<br><br>
                      6. Retira el papel de aluminio del filete y sírvelo con l ensalada.<br><br>
                      7. ¡Que aproveche!<br><br>
                     
                  
                  </ion-card-content>
        
              <ion-card-header>
                <ion-card-subtitle>Informacion Nutricional:</ion-card-subtitle>
              </ion-card-header>
               
              <ion-item color="success">
                  <ion-card-content ALIGN="justify" color="#000">
                    <p><strong>Tiempo : 25 minutos<br><br>
                      Porciones: 4 aprox <br>
                      Energia:  230 Kcal  <br>
                      &nbsp;&nbsp;&nbsp;&nbsp;· Proteínas: 15.4g <br>
                      &nbsp;&nbsp;&nbsp;&nbsp;· Carbohidratos: 6.9g<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;· Azucares: 6.1g<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;· Grasas: 14.6g<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;De las cuales:<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Saturadas: 3.7g <br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Monoinsaturadas: 8.6g<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Poliinsaturadas: 1.7g<br>
                      · Colesterol: 28mg
                    </strong></p>             
                  </ion-card-content>
              </ion-item>
              
          </ion-card>
    
    </ion-content>
