<app-header></app-header>

<ion-content >
    <ion-card mode="ios">
        <ion-img src="/assets/recetario/pollo/sopa_pasta.jpg"></ion-img>
        <ion-card-header>      
		      <ion-card-title> Ingrediente para 4 raciones </ion-card-title>		  
        </ion-card-header>
		    <ion-card-content color="success"> 

              ・Caldo de pollo (1,000 mL)<br><br>
              ・Pechuga de pollo (225 g)<br><br>
              ・Pasta para sopa (100 g)<br><br>
              ・Mirepoix congelada (300 g)<br><br>
              ・Cebollino fresco (al gusto)<br><br>
              ・Sal y pimienta (al gusto)<br><br>
            
          </ion-card-content>       
           

           <ion-card-header>
              <ion-card-title>Instrucciones para 4 raciones</ion-card-title>
          </ion-card-header>
              <ion-card-content ALIGN="justify" color="#000">
                 
                 Instrucciones para 4 raciones:<br>
             1. Hierve el caldo de pollo en una olla.<br><br>
             2. Mientras tanto, retira el exceso de grasa del pollo y córtalo en trocitos pequeños.<br><br>
             3. Agrega al caldo la pastina y el pollo y deja que cuezan durante aproximadamente 5 minutos.<br><br>
             4. Añade la mirepoix y cocina durante 5 minutos más.<br><br>
             5. Corta el cebollino en aritos y agrégalo a la sopa.<br><br>
             6. Aliña con sal y pimienta y sirve.<br><br>
             7. ¡Que aproveche!<br>              
              </ion-card-content>
    
          <ion-card-header>
            <ion-card-title>Informacion Nutricional:</ion-card-title>
          </ion-card-header>
           
          <ion-item color="success">
              <ion-card-content ALIGN="justify" color="#000">
                <p><strong>
                  Porciones: 1 aprox <br>
                  Energia:  190Kcal  <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;· Proteínas: 18.3<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;· Carbohidratos: 22.1g<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;· Fibra alimentaria: 3.0g<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;· Azucares: 3.0g<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Grasas: 1.9g<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Saturadas: 0.4g <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Monoinsaturadas: 0.4g<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Poliinsaturadas: 0.6g<br>
                  · Colesterol: 54mg<br>
				  .Sal: 2.3g<br>
				  . Sodio: 1mg<br>
				  . Minerales<br>
				  . Potasio: 474mg<br>
                </strong></p>             
              </ion-card-content>
          </ion-item>
          
      </ion-card>

</ion-content>
