<app-header></app-header>>

<ion-content>
    <h1 padding>Muffins salados de ternera con guacamole</h1>

    <ion-card mode="ios">
            <ion-img src="/assets/recetario/carne/salados.jpeg"></ion-img>
            <ion-card-header>      
              <ion-card-title>Ingredientes</ion-card-title>
              </ion-card-header>
              <ion-card-content color="success">              
                  • Carne picada de ternera (450 gr)<br>
                  • 1 Hevo (70 gr)<br>
                  • Queso cheddar (115 gr)<br>
                  • Salsa mexicana (60 gr)<br>
                  • Cilantro fresco (5 gr)<br>
                  • Pimentón (al gusto)<br>
                  • 1 Diente de ajo (3 gr)<br>
                  • 1/2 Aguacate (110 gr)<br>
                  • Queso crema (100 gr)<br>
            • Zumo de limón (1 cda., 15 mL)<br>
                        
              </ion-card-content>
        
              <ion-card-header>
                  <ion-card-title>Procedimiento</ion-card-title>
                  </ion-card-header>
            
                  <ion-card-content ALIGN="justify" color="#000">
                     
                      1. Precalienta el horno a 180°C.<br><br>
                      2. Pica el cilantro y tritura el ajo.<br><br>
                      3. Mezcla con las manos la carne picada con el huevo, el queso cheddar, la salsa mexicana, el cilantro, el pimentón y el ajo.<br><br>
                      4. Forma 6 bolas con la mezcla de carne y coloca cada una en un molde de muffins.<br><br>
                      5. Hornea durante aproximandamente 20 minutos en la parte central del horno.<br><br>
                      6. Mientras se hacen los muffins, corta el aguacate en dos y pela la mitad sin hueso.<br><br>
                      7. Tritúralo en un bol y mézclalo con el queso crema y el zumo de limón para hacer guacamole.<br><br>
              8. Por último, saca los muffins del horno y reparte el guacamole por encim con la ayuda de una cuchara.<br><br>
              9. ¡Que aproveche!<br><br>
                     
                  
                  </ion-card-content>
        
              <ion-card-header>
                <ion-card-subtitle>Informacion Nutricional:</ion-card-subtitle>
              </ion-card-header>
               
              <ion-item color="success">
                  <ion-card-content ALIGN="justify" color="#000">
                    <p><strong>Tiempo : 15 minutos<br><br>
                      Porciones: 6 aprox <br>
                      Energia:  319 Kcal  <br>
                      &nbsp;&nbsp;&nbsp;&nbsp;· Proteínas: 23.6g <br>
                      &nbsp;&nbsp;&nbsp;&nbsp;· Carbohidratos: 2.4g<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;· Azucares: 1.8g<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;· Grasas: 24.1g<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;De las cuales:<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Saturadas: 12.2g <br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Monoinsaturadas: 9.5g<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Poliinsaturadas: 1.2g<br>
                      · Colesterol: 124mg
                    </strong></p>             
                  </ion-card-content>
              </ion-item>
              
          </ion-card>
    
    </ion-content>
