<app-header></app-header>

<ion-content>
    <ion-card mode="ios">
            <ion-img src="/assets/recetario/pollo/miel.jpeg"></ion-img>
            <ion-card-header>      
              <ion-card-title>Ingredientes</ion-card-title>
              </ion-card-header>  
              <ion-card-content color="success">              
                  • Miel 1 cda, 10 g <br>
                  • Mostaza en grano 40g  <br>
                  • Aceite de oliva 1 cdta, 7ml<br>
                  • Pechuga de pollo en filetes 400g <br>
                  • 2 dientes de ajo 6g<br>
                  • Jamon cocido en dados 25 g<br>
                  • Brocoli 350g<br>
                  • Leche semidesnatada 100 ml<br>
                  •  Sal y pimienta al gusto <br>
                  •  Nata para montar 40g <br>
                  
            
              </ion-card-content>
        
              <ion-card-header>
                  <ion-card-title>Procedimiento</ion-card-title>
                  </ion-card-header>
            
                  <ion-card-content ALIGN="justify" color="#000">
                     
                      1. Mezcla en un bol la miel, la mostaza y el aceite de oliva y utiliza la mezcla para marinar el pollo. <br><br>
                      2. Tritura los dientes de ajo y añadeselos al pollo.<br><br>
                      3. Frie los dados de jamon cocido en una sarten antiadherente, sacalos de la sarten y reservalos para mas tarde. En la misma sarten, dora el pollo por los dos lados.<br><br>
                      4. Separa el brocoli en remitos y agregalos a la sarten junto con la leche, la nata y los dados de jamon cocido. <br><br>
                      5. Tapa la sarten y deja que se cocine durante 8 minutos hasta que la salsa se espese y el brocoli se haya ablandado pero sin haberse deshecho.<br><br>
                      6. Por ultimo, aliña con sal y pimienta.<br><br>
                      7. ¡Que aproveche!<br>
              
                  </ion-card-content>
        
              <ion-card-header>
                <ion-card-subtitle>Informacion Nutricional:</ion-card-subtitle>
              </ion-card-header>
               
              <ion-item color="success">
                  <ion-card-content ALIGN="justify" color="#000">
                    <p><strong>Tiempo : 10 min aprox <br><br>
                      Porciones: 1 aprox <br>
                      Energia:  460Kcal  <br>
                      &nbsp;&nbsp;&nbsp;&nbsp;· Proteínas: 59.4 g <br>
                      &nbsp;&nbsp;&nbsp;&nbsp;· Carbohidratos: 14.2 g<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;· Azucares: 13.4 g<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;· Grasas: 15.4 g<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;De las cuales:<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Saturadas: 5.7 g <br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Monoinsaturadas: 5.4 g<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Poliinsaturadas: 1.3g<br>
                      · Colesterol: 144mg <br>
                    </strong></p>             
                  </ion-card-content>
              </ion-item>
              
          </ion-card>
    
    </ion-content>