<app-header></app-header>

<ion-content>
    <ion-card mode="ios">
            <ion-img src="/assets/recetario/pollo/parrilla.jpeg"></ion-img>
            <ion-card-header>      
              <ion-card-title>Ingredientes</ion-card-title>
              </ion-card-header>  
              <ion-card-content color="success">              
                  • 1 filete de pechuga de pollo 150g<br>
                  •  Quinoa 50g <br>
                  • Caldo de verduras 100ml<br>
                  • 1 Tomate 120g <br>
                  • 1/2 Pepino 150g<br>
                  • 3 Cebollas 60g<br>
                  • Perejil 25g<br>
                  • Aceite de oliva 2cdta., 14g<br>
                  •  Sal y pimienta al gusto <br>
                  
                  
            
              </ion-card-content>
        
              <ion-card-header>
                  <ion-card-title>Procedimiento</ion-card-title>
                  </ion-card-header>
            
                  <ion-card-content ALIGN="justify" color="#000">
                     
                      1. En un sarten con 1 cucharadita de aceite de oliva dora el pollo por los dos lados. <br><br>
                      2. Pon la quinoa con el caldo de verduras en un cazo y cuece a fuego lento durante 15 minutos.<br><br>
                      3. Mientras tanto, corta el tomate, el pepino y las cebollas en trocitos pequeños y mezclalos con la quinoa y el perejil en un bol.<br><br>
                      4. Agrega otra cucharadita de aceite de oliva y condimenta con sal y pimienta. <br><br>
                      5. Corta el pollo en tiras y sirvelo en la ensalada mientras aun esta caliente.<br><br>
                      6. ¡Que aproveche!<br>
              
                  </ion-card-content>
        
              <ion-card-header>
                <ion-card-subtitle>Informacion Nutricional:</ion-card-subtitle>
              </ion-card-header>
               
              <ion-item color="success">
                  <ion-card-content ALIGN="justify" color="#000">
                    <p><strong>Tiempo : 15 min aprox <br><br>
                      Porciones: 1 aprox <br>
                      Energia:  556Kcal  <br>
                      &nbsp;&nbsp;&nbsp;&nbsp;· Proteínas: 44.9 g <br>
                      &nbsp;&nbsp;&nbsp;&nbsp;· Carbohidratos: 42.4 g<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;· Azucares: 9.4g<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;· Grasas: 15.4 g<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;De las cuales:<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Saturadas: 3.0g <br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Monoinsaturadas: 11.1 g<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Poliinsaturadas: 3,4g<br>
                      · Colesterol: 87 mg <br>
                    </strong></p>             
                  </ion-card-content>
              </ion-item>
              
          </ion-card>
    
    </ion-content>
