<app-header></app-header>

<ion-content>
    <h1 padding>Gratinado mexicano de ternera y judias</h1>

    <ion-card mode="ios">
            <ion-img src="/assets/recetario/carne/mexicano.jpeg"></ion-img>
            <ion-card-header>      
              <ion-card-title>Ingredientes</ion-card-title>
              </ion-card-header>
              <ion-card-content color="success">              
                  • 1/2 Cebolla(40 gr) <br> 
                  • Carne picada de ternera (500 gr)<br>
                  • Tomates (400 gr)<br>
                  • Jalapeños (20 gr)<br>
                  • Maiz (285 gr)<br>
                  • Judías negras (425 gr)<br>
                  • Sazonador mexicano (15 gr)<br>
                  • 4 Tortillas de maíz (160 gr)<br>
                  • Nata agria (125 gr)<br>
            • Queso gouda rallado (100 gr)<br>
            • Cilantro (al gusto)<br>
                        
              </ion-card-content>
        
              <ion-card-header>
                  <ion-card-title>Procedimiento</ion-card-title>
                  </ion-card-header>
            
                  <ion-card-content ALIGN="justify" color="#000">
                     
                      1. Pica la cebolla y sofríela con la carne picada de ternera durante 10 minutos. <br><br>
                      2. Pica los tomates y los jalapeños. Agrega a la sartén de la carne los tomates, los jalapeños, el maíz y las judías y deja que cueza todo junto durante 5 minutos. Agrega el sazonador mexicano y mezcla bien.<br><br>
                      3. Para preparar el gratinado, corta las tortillas por la mitad y colócalas en l fondo de una fente de orno curiéndolo por completo.<br><br>
                      4. Vierte la mitad de l mezcla de carne y verduras sobre las tortillas.<br><br>
                      5. Reparte la nata agria por encima con la ayuda de una cuchara. Vierte el resto de carne y verduras encima de la nata.<br><br>
                      6. Hornea durante 25 minutos a 170C en la parte central del horno.<br><br>
                      7. Por último, espolvorea el queso rallado y el cilantro por encima.<br><br>
              7. ¡Que aproveche!<br><br>
                     
                  
                  </ion-card-content>
        
              <ion-card-header>
                <ion-card-subtitle>Informacion Nutricional:</ion-card-subtitle>
              </ion-card-header>
               
              <ion-item color="success">
                  <ion-card-content ALIGN="justify" color="#000">
                    <p><strong>Tiempo : 20 min <br><br>
                      Porciones: 6 aprox <br>
                      Energia:  495 Kcal  <br>
                      &nbsp;&nbsp;&nbsp;&nbsp;· Proteínas: 34.4g <br>
                      &nbsp;&nbsp;&nbsp;&nbsp;· Carbohidratos: 35.1g<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;· Azucares: 5.5g<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;· Grasas: 21.8g<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;De las cuales:<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Saturadas: 10.2g <br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Monoinsaturadas: 8.4g<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Poliinsaturadas: 1.6g<br>
                      · Colesterol: 67mg
                    </strong></p>             
                  </ion-card-content>
              </ion-item>
              
          </ion-card>
    
    </ion-content>
