<app-header></app-header>

<ion-content >
 
<ion-card mode="ios">
    <ion-img src="/assets/recetario/pollo/alfredo.jpg"></ion-img>
    <ion-card-header>      
      <ion-card-title> Ingredientes para 3 raciones</ion-card-title>
    </ion-card-header>
    <ion-card-content>    
    ・2 Filetes de pechuga de pollo (300 g)<br>
    ・Sal y pimienta (al gusto)<br>
    ・2 Dientes de ajo (6 g)<br>
    ・Mantequilla (2 cda., 20 g)<br>
    ・2 Calabacines (460 g)<br>
    ・Perejil (2 cda., 10 g)<br>
    ・Nata para montar (200 g)<br>
    ・Queso parmesano en polvo (100 g)<br>
    </ion-card-content>

    <ion-card-header>
        <ion-card-title>Instrucciones para 3 raciones</ion-card-title>
        </ion-card-header>
          <ion-card-content color="#000">
           <p ALIGN="justify" >  
             Instrucciones para 3 raciones:<br>
            1. Retira el exceso de grasa del pollo y córtalo en trocitos pequeños.<br><br>
            2. Coloca el pollo en una sartén con sal, pimienta y ajo picado o triturado y saltea todo junto en mantequilla durante unos 4 minutos hasta que el pollo esté cocinado.<br><br>
            3. Mientras se cocina el pollo, prepara los espaguetis de calabacín con la ayuda de un cortador en espiral. Si no tienes uno, te puedes ayudar de un pelador de verduras.<br><br>
            4. Pon a hervir una olla con agua, agrega los espaguetis de calabacín y deja que cuezan durante unos 5 minutos.<br><br>
            5. Mientras tanto, pica el perejil.<br><br>
            6. Agrega al pollo la nata, el queso parmesano y el perejil picado. Deja que se cocine durante 5 minutos más removiendo de vez en cuando para evitar que se pegue. La salsa irá poco a poco espesándose.<br><br>
            7. Utiliza un colador para eliminar el agua del calabacín.<br><br>
            8. Coloca los espaguetis de calabacín en un plato y distribuye por encima la salsa cremosa de pollo. Si te apetece, puedes decorar el plato con un poco más de queso parmesano y perejil.<br><br>
            9. ¡Que aproveche!<br><br>
          </p>
          
          </ion-card-content>

      <ion-card-header>
        <ion-card-title>Informacion Nutricional:</ion-card-title>
      </ion-card-header>
       
      <ion-item color="success">
          <ion-card-content ALIGN="justify" color="#000">
            <p><strong>
              Porciones: 1 aprox <br>
              Energia:  534 Kcal  <br>
              &nbsp;&nbsp;&nbsp;&nbsp;· Proteínas: 38.3 g <br>
              &nbsp;&nbsp;&nbsp;&nbsp;· Carbohidratos: 6.5 g<br>
              &nbsp;&nbsp;&nbsp;&nbsp;· Fibra alimentaria: 1.9 g<br>
              &nbsp;&nbsp;&nbsp;&nbsp;· Azucares: 5.9 g<br>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Grasas: 38.6 g<br>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Saturadas: 23.6 g <br>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Monoinsaturadas: 10.6 g<br>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Poliinsaturadas: 1.6 g<br>
              · Colesterol: 156mg<br>
      .Sal: 1.0 g<br>
      . Sodio: 0 mg<br>
      . Potasio: 698 mg<br>
            </strong></p>             
          </ion-card-content>
      </ion-item>
      
  </ion-card>

</ion-content>
