<app-header></app-header>

<ion-content >

  <h1 padding>Ensalada toscana caliente con atun</h1>

  <ion-card mode="ios">
      <ion-img src="assets/recetario/pescado/toscana.jpeg"></ion-img>
      <ion-card-header>      
        <ion-card-title>Ingredientes</ion-card-title>
        </ion-card-header>
        <ion-card-content color="success">              
            • Tomates cherry (250 g)
            • 1 Diente de ajo (3 g)<br>
            • Aceite de oliva (1 cdta., 7 mL)<br>
            • Aceitunas verdes sin hueso (50 g)<br>
            • Atún claro natural (150 g)<br>
      • Queso parmesano en polvo (25 g)<br>
      • Tomillo (1 cdta., 3 g)<br>
  
                  
        </ion-card-content>
  
        <ion-card-header>
            <ion-card-title>Procedimiento</ion-card-title>
            </ion-card-header>
      
            <ion-card-content ALIGN="justify" color="#000">
               
                1. Corta los tomates cherry por la mitad y ponlos en un cuenco. Pica el ajo y mézclalo con los tomates y el aceite de oliva. <br><br>
                2. Reparte la mezcla por una bandeja de horno con papel de horno y cocínalo durante 15 minutos a 220ºC.<br><br>
                3. Mientras tanto, corta las aceitunas por la mitad y mézclalas en un cuenco con el atún y el queso parmesano rallado.<br><br>
                4. Saca los tomates asados del horno y mezcla todo en el bol del atún y las aceitunas.<br><br>
        5. Condimenta con tomillo<br><br>
        6. ¡Que aproveche!<br><br>



            
            </ion-card-content>
  
        <ion-card-header>
          <ion-card-subtitle>Informacion Nutricional:</ion-card-subtitle>
        </ion-card-header>
         
        <ion-item color="success">
            <ion-card-content ALIGN="justify" color="#000">
              <p><strong>Tiempo : <br><br>
                Porciones: 1 aprox <br>
                Energia:  436 Kcal  <br>
                &nbsp;&nbsp;&nbsp;&nbsp;· Proteínas: 45.3g <br>
                &nbsp;&nbsp;&nbsp;&nbsp;· Carbohidratos: 10.2g<br>
                &nbsp;&nbsp;&nbsp;&nbsp;· Azucares: 6.8g<br>
                &nbsp;&nbsp;&nbsp;&nbsp;· Grasas: 22.2g<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;De las cuales:<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Saturadas: 7.5g <br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Monoinsaturadas: 11.3g<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Poliinsaturadas: 2.0g<br>
                · Colesterol: 99mg
              </strong></p>             
            </ion-card-content>
        </ion-item>
        
    </ion-card>

</ion-content>

