<app-header></app-header>

<ion-content >

  <h1 padding>Pescado frito con espinacas y curi</h1>

  <ion-card mode="ios">
      <ion-img src="/assets/recetario/pescado/espinacas.jpeg"></ion-img>
      <ion-card-header>      
        <ion-card-title>Ingredientes</ion-card-title>
        </ion-card-header>
        <ion-card-content color="success">              
            • 1 Cebolla (80 g)
            • 1 Diente de ajo (3 g)<br>
            • Jengibre rallado (10 g)<br>
            • Aceite de coco (1 cdta., 7.5 mL)<br>
            • Filete de perca (200 g)<br>
      • Leche de coco baja en grasa (150 mL)<br>
      • Curry en polvo (al gusto)<br>
      • Espinacas frescas (150 g)<br>
      • Sal y pimienta (al gusto)<br>
      


       
                  
        </ion-card-content>
  
        <ion-card-header>
            <ion-card-title>Procedimiento</ion-card-title>
            </ion-card-header>
      
            <ion-card-content ALIGN="justify" color="#000">
               
                1. Pica la cebolla y el ajo. Rehógalos junto con el jengibre en una sartén con el aceite de coco. <br><br>
                2. Aparta el sofrito a un lado de la sartén y dora el filete de perca.<br><br>
                3. Prepara una salsa con la leche de coco.<br><br>
                4. Agrega el curry y las espinacas y cocina todo junto durante 10 minutos.<br><br>
        5. Sazona con sal y pimienta.<br><br>
        6. ¡Que aproveche!<br><br>
            
            </ion-card-content>
  
        <ion-card-header>
          <ion-card-subtitle>Informacion Nutricional:</ion-card-subtitle>
        </ion-card-header>
         
        <ion-item color="success">
            <ion-card-content ALIGN="justify" color="#000">
              <p><strong>Tiempo : <br><br>
                Porciones: 1 aprox <br>
                Energia:  437 Kcal  <br>
                &nbsp;&nbsp;&nbsp;&nbsp;· Proteínas: 46.9g <br>
                &nbsp;&nbsp;&nbsp;&nbsp;· Carbohidratos: 17.1g<br>
                &nbsp;&nbsp;&nbsp;&nbsp;· Azucares: 10.3g<br>
                &nbsp;&nbsp;&nbsp;&nbsp;· Grasas: 18.7g<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;De las cuales:<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Saturadas: 14.5g <br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Monoinsaturadas: 2.0g<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Poliinsaturadas: 1.4g<br>
                · Colesterol: 140mg
              </strong></p>             
            </ion-card-content>
        </ion-item>
        
    </ion-card>

</ion-content>