<ion-header no-border>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button  text="Regresar" defaultHref="/" ></ion-back-button>
    </ion-buttons>

    <ion-title>5 Consejos!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <h1>1. Coma alimentos variados</h1>
   <p ALIGN="justify">  Necesitamos más de 40 nutrientes diferentes y ningún alimento por sí solo puede proporcionarlos
        todos. El suministro de alimentos que existe hoy en día facilita tomar una amplia variedad de
        alimentos, tanto comprando alimentos frescos para cocinar como comprando comidas preparadas o comida para llevar.
        ¡Elija los alimentos siempre de manera equilibrada!</p>

  <h1>2. Base su dieta en alimentos ricos en hidratos de carbono</h1>
  <p ALIGN="justify">La mayoría de la gente no incorpora suficientes alimentos ricos en hidratos de carbono como el pan, la pasta, el arroz, las papas y otros cereales, considerándolos prohibidos para lograr no engordar. Sin embargo, esto no es correcto, más de la mitad de las calorías de su dieta, es decir el 60 % aproximadamente, deben venir de estos alimentos. Lo ideal es aumentar la ingesta de fibra con el aporte de pan integral, la pasta integrales y otros cereales.</p>      

  <h1>3. Tome frutas y verduras </h1>
  <p ALIGN="justify">La mayor parte de la gente no come la suficiente cantidad de estos alimentos que proporcionan importantes nutrientes protectores. Intente comer al menos cinco raciones al día. Pruebe nuevas recetas o vea qué platos preparados están disponibles en el supermercado.</p>      

  <h1>4. Mantenga un peso corporal saludable y siéntase bien</h1>
  <p  ALIGN="justify"> El peso adecuado depende de muchos factores tales como el sexo, la altura, la edad y la genética. El sobrepeso aumenta el riesgo de padecer varias enfermedades como son los problemas cardiovasculares, de los huesos, articulares y el cáncer.   </p>

  <h1>5. Beba muchos líquidos</h1>
  <p ALIGN="justify">¡Los adultos necesitamos beber por lo menos 1,5 litros de líquidos al día! Y necesitamos más cantidad si hace calor o si realizamos mucho deporte. Hidratarse es fundamental para vivir. El agua es obviamente una buena fuente de líquidos pero la variedad puede ser tanto agradable como saludable. Otras opciones son las bebidas dietéticas pero éstas no deben sustituir el aporte de agua.</p>

  <ion-item href="https://www.lanacion.com.ar/sociedad/10-consejos-para-una-alimentacion-saludable-nid1927092">
    <ion-label> <strong> Fuente: La Nacion </strong> </ion-label>
  </ion-item>
   
</ion-content>
