<app-header></app-header>

<ion-content>
  <h1 padding>Salmon salvaje con pure de coliflor</h1>
    <ion-card mode="ios">
        <ion-img src="/assets/recetario/pescado/salvaje.PNG"></ion-img>
        <ion-card-header>      
          <ion-card-title>Ingredientes</ion-card-title>
          </ion-card-header>
          <ion-card-content color="success">              
              • Coliflor (400 g)
              • Sal y pimienta (al gusto)<br>
              • 1/2 Cebolla (40 g)<br>
              • Aceite de coco (3 cdta., 23 g)<br>
              • Caldo de verduras en polvo (5 g)<br>		 
			  • Salmon salvaje fileteado (150 g)<br>
			  • Cebollin (5 g)<br>

                    
          </ion-card-content>
    
          <ion-card-header>
              <ion-card-title>Procedimiento</ion-card-title>
              </ion-card-header>
        
              <ion-card-content ALIGN="justify" color="#000">
                 
                  1. Corta la coliflor en trozos grandes y hiervela durante 7 minutos. <br><br>
                  2. Mientras tanto, corta media cebolla en cubitos.<br><br>
                  3. Retira la coliflor del agua hirviendo, escurrela y mezclala con la cebolla, 2 cucharaditas de aceite de coco y el caldo de verduras en polos hacerla pure.<br><br>
				  4. Sazona el salmon con sal y pimienta y doralo en una sarten con el resto de aceite de coco.<br><br>
				  5. Sirve el salom y el pure de coliflor en un plato y adorna con el cebollino.<br><br>
				  6. ¡Que aproveche!<br><br>
              
              </ion-card-content>
    
          <ion-card-header>
            <ion-card-subtitle>Informacion Nutricional:</ion-card-subtitle>
          </ion-card-header>
           
          <ion-item color="success">
              <ion-card-content ALIGN="justify" color="#000">
                <p><strong>Tiempo : <br><br>
                  Porciones: 1 aprox <br>
                  Energia:  599 Kcal  <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;· Proteínas: 41.1g <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;· Carbohidratos: 12.0g<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;· Azucares: 10.2g<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;· Grasas: 40.9g<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;De las cuales:<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Saturadas: 23.3g <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Monoinsaturadas: 5.9g<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Poliinsaturadas: 5.9g<br>
                  · Colesterol: 87mg
                </strong></p>             
              </ion-card-content>
          </ion-item>
          
      </ion-card>

</ion-content>
