<ion-header>
  <ion-toolbar>
    <ion-title>solomillo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card mode="ios">
        <ion-img src="/assets/recetario/solomillo/solomillo.jpeg"></ion-img>
        <ion-card-header>      
          <ion-card-title>Ingredientes</ion-card-title>
          </ion-card-header>
          <ion-card-content color="success">              
              • Solomillo de ternera (150 g) 
              • Sal y pimienta (al gusto)<br>
              • Aceite de oliva (2 cdta., 14 mL)<br>
              • Arroz integral (35 g)<br>
              • Agua (80 mL)<br>
              • Champiñones (250 g)<br>
              • Nuez moscada molida (al gusto)<br>
              • Brotes de espinaca (60 g)<br>
                    
          </ion-card-content>
    
          <ion-card-header>
              <ion-card-title>Procedimiento</ion-card-title>
              </ion-card-header>
        
              <ion-card-content ALIGN="justify" color="#000">
                 
                  1. Aliña el solomillo con sal y pimienta y séllalo durante unos minutos en una sartén con una cucharadita aceite de oliva.<br><br>
                  2. Envuélvelo en papel de aluminio y hornéalo a 100ºC durante 20 minutos aproximadamente.<br><br>
                  3. Mientras tanto, pon el arroz a hervir en una olla. Cuando arranque a hervir bájalo a fuego medio y deja que se haga durante 20 minutos.<br><br>
                  4. Lava los champiñones, córtalos en rodajas y saltéalos con el resto de aceite en una sartén. Agrega el arroz.<br><br>
                  5. Pon las espinacas en un bol, añade el arroz y los champiñones y mezcla todo. Condimenta con sal, pimienta y nuez moscada.<br><br>
                  6. Saca el solomillo del horno y sírvelo con la ensalada de arroz.<br><br>
                  7. ¡Que aproveche!<br><br>
              
              
              </ion-card-content>
    
          <ion-card-header>
            <ion-card-subtitle>Informacion Nutricional:</ion-card-subtitle>
          </ion-card-header>
           
          <ion-item color="success">
              <ion-card-content ALIGN="justify" color="#000">
                <p><strong>Tiempo : <br><br>
                  Porciones: 1 aprox <br>
                  Energia:  501 Kcal  <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;· Proteínas: 43.6g <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;· Carbohidratos: 27.7g<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;· Azucares: 1.8g<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;· Grasas: 21.6g<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;De las cuales:<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Saturadas: 5g <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Monoinsaturadas: 12.8g<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Poliinsaturadas: 2.6g<br>
                  · Colesterol: 77mg
                </strong></p>             
              </ion-card-content>
          </ion-item>
          
      </ion-card>

</ion-content>
