<app-header></app-header>

<ion-content>
  <h1 padding>Huevos al vapor coraneos</h1>
    <ion-card mode="ios">
        <ion-img src="/assets/recetario/pescado/vapor.PNG"></ion-img>
        <ion-card-header>      
          <ion-card-title>Ingredientes</ion-card-title>
          </ion-card-header>
          <ion-card-content color="success">              
              • Agua (175 mL)
              • Salsa de pescado (1 cdta., 8 mL)<br>
              • 5 Huevos (350 g)<br>
              • Sal y pimienta (al gusto)<br>
              • 1 Cebolleta (20 g)<br>		 
			  • Aceite de sesamo (1 cdta., 7mL)<br>

                    
          </ion-card-content>
    
          <ion-card-header>
              <ion-card-title>Procedimiento</ion-card-title>
              </ion-card-header>
        
              <ion-card-content ALIGN="justify" color="#000">
                 
                  1. Con un batidor de mano, mezcla el agua, la salsa de pescado, los huevos, la sal y la pimienta. <br><br>
                  2. Divide la mezcla en 2 boles pequenos resistentes al calor y colocalos en una olla grande.<br><br>
                  3. Llena la olla de agua caliente hasta el borde de los boles, cubrela y calientala a fuego lento durante 12 minutos.<br><br>
				  4. Mientras tanto, corta la cebolleta en aros y , cuando haya terminado el tiempo de coccion, espolvoreala por encima de los huevos.<br><br>
				  5. Cubre la olla con la tapa otra vez y deja que se cocine durante 3 minutos mas.<br><br>
				  6. Decora los huevos con aceite de sesamo y sirvelos.<br><br>
				  7. ¡Que aproveche!<br><br>
              
              </ion-card-content>
    
          <ion-card-header>
            <ion-card-subtitle>Informacion Nutricional:</ion-card-subtitle>
          </ion-card-header>
           
          <ion-item color="success">
              <ion-card-content ALIGN="justify" color="#000">
                <p><strong>Tiempo : <br><br>
                  Porciones: 1 aprox <br>
                  Energia:  275 Kcal  <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;· Proteínas: 21.1g <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;· Carbohidratos: 3.4g<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;· Azucares: 3.2g<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;· Grasas: 19.8g<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;De las cuales:<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Saturadas: 5.2g <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Monoinsaturadas: 8.1g<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Poliinsaturadas: 4.2g<br>
                  · Colesterol: 693mg
                </strong></p>             
              </ion-card-content>
          </ion-item>
          
      </ion-card>

</ion-content>
