<ion-header no-border>
        <ion-toolbar>
    
            <ion-buttons slot="start">
                <ion-back-button defaultHref="/"></ion-back-button>
            </ion-buttons>
    
            <ion-title>Pescado</ion-title>
        </ion-toolbar>
    
        <ion-searchbar animated></ion-searchbar>
        
    </ion-header>

<ion-content padding>

        <ion-list>    
              
                <ion-item   *ngFor="let c of componentes" 
                            [routerLink]="c.redirectTo" detail> 
                    <ion-avatar slot="start">
                        <img src="/assets/pescado.jpg">
                    </ion-avatar> 
                    <ion-label>      
                        <h3>{{c.name}}</h3>
                        <p>{{c.calorias}}</p>
                    </ion-label>    
                </ion-item>
        
            </ion-list>
        

</ion-content>
