<app-header></app-header>

<ion-content>
    <ion-card mode="ios">
            <ion-img src="/assets/recetario/pollo/wraps.jpeg"></ion-img>
            <ion-card-header>      
              <ion-card-title>Ingredientes</ion-card-title>
              </ion-card-header>
              <ion-card-content color="success">              
                  • 150g de Pechuga de pollo<br>
                  • 1 cdta., 7ml de Aceite de Oliva<br>
                  • Salsa de chile al gusto<br>
                  • 4 Tortillas de trigo (288g)<br>
                  • 25g de Mayonesa baja en grasa<br>
                  • 1 Lechuga romana (125g)<br>
                  • 1/2 Pepino (125)g<br>
                  • Zanahoria (150g)<br>
                        
              </ion-card-content>
        
              <ion-card-header>
                  <ion-card-title>Procedimiento</ion-card-title>
                  </ion-card-header>
            
                  <ion-card-content ALIGN="justify" color="#000">
                     
                      1. Corta la pechuga de pollo en trocitos y dorala en un sarten con el aceite de oliva y la salsa de chile. <br><br>
                      2. Unta mayonesa en las tortillas.<br><br>
                      3. Parte la lechuga y ponla en el centro de las tortillas.<br><br>
                      4. Corta el pepino en rodajas finas y ralla la zanahoria.<br><br>
                      5. Reparte los trozos de pepino, la zanahoria y el pollo por encima de la lechuga y enrolla las tortillas con cuidado.<br><br>
                      6. ¡Que aproveche!.<br><br>
                      
                  
                  
                  </ion-card-content>
        
              <ion-card-header>
                <ion-card-subtitle>Informacion Nutricional:</ion-card-subtitle>
              </ion-card-header>
               
              <ion-item color="success">
                  <ion-card-content ALIGN="justify" color="#000">
                    <p><strong>Tiempo : 15 min aprox <br><br>
                      Porciones: 4 aprox <br>
                      Energia:  332 Kcal  <br>
                      &nbsp;&nbsp;&nbsp;&nbsp;· Proteínas: 16.1g <br>
                      &nbsp;&nbsp;&nbsp;&nbsp;· Carbohidratos: 42.7 g<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;· Azucares: 4.6 g<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;· Grasas: 9.6 g<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;De las cuales:<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Saturadas: 3.2g <br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Monoinsaturadas: 4.2<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Poliinsaturadas: 1.5g<br>
                      · Colesterol: 23 mg
                    </strong></p>             
                  </ion-card-content>
              </ion-item>
              
          </ion-card>
    
    </ion-content>
