<app-header></app-header>

<ion-content>
    <h1 padding>Hambuerguesa low carb con huevo y espinacas</h1>

    <ion-card mode="ios">
            <ion-img src="/assets/recetario/carne/lowcarb.jpeg"></ion-img>
            <ion-card-header>      
              <ion-card-title>Ingredientes</ion-card-title>
              </ion-card-header>
              <ion-card-content color="success">              
                  • 1 Chalota (20 gr)<br>
                  • Carne picada de ternera (300 gr)<br>
                  • Sal y pimienta (al gusto)<br>
                  • Aceite de olivia (1 cda., 14 mL)<br>
                  • Espinacas frescas (250 gr)<br>
                  • 1 Diente de ajo (3 gr)<br>
                  • 2 Tomates (240 gr)<br>
                  • 2 Huevos (140 gr)<br>
                        
              </ion-card-content>
        
              <ion-card-header>
                  <ion-card-title>Procedimiento</ion-card-title>
                  </ion-card-header>
            
                  <ion-card-content ALIGN="justify" color="#000">
                     
                      1. Pela y pica la chalota.<br><br>
                      2. Mezcla la carne picada con la chalota, aliña con sal y pimienta y forma 3 hambrguesas.<br><br>
                      3. En una sartén grande, calienta el aceite de oliva y fríe las 3 hambuerguesas por los dos lados.<br><br>
                      4. Coloc las espinacas frescas en el centro de la sartén y deja que se marchiten por el calor.<br><br>
                      5. Mientras tanto, pela y pic el ajo y agrégalo a las espinacas.<br><br>
                      6. Corta los tomates en cbos, añádelos a la sartén y sigue cocinado hasta que las espinacas se hayan desmoronado.<br><br>
                      7. Retira las hamburguesas de la sarén y fríe en ella los huevos.<br><br>
              8. Sirve todos los ingredientes juntos.<br><br>
              9. ¡Que aproveche!<br><br>
                     
                  
                  </ion-card-content>
        
              <ion-card-header>
                <ion-card-subtitle>Informacion Nutricional:</ion-card-subtitle>
              </ion-card-header>
               
              <ion-item color="success">
                  <ion-card-content ALIGN="justify" color="#000">
                    <p><strong>Tiempo : 15 minutos<br><br>
                      Porciones: 2 aprox <br>
                      Energia:  522 Kcal  <br>
                      &nbsp;&nbsp;&nbsp;&nbsp;· Proteínas: 43.9g <br>
                      &nbsp;&nbsp;&nbsp;&nbsp;· Carbohidratos: 5.9g<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;· Azucares: 5.1g<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;· Grasas: 34.9g<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;De las cuales:<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Saturadas: 12.3g <br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Monoinsaturadas: 17.3g<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Poliinsaturadas: 2.9g<br>
                      · Colesterol: 367mg
                    </strong></p>             
                  </ion-card-content>
              </ion-item>
              
          </ion-card>
    
    </ion-content>