<app-header titulo="Chili con carne"></app-header>

<ion-content >
  
  <ion-card mode="ios">
    <ion-img src="/assets/recetario/carne/chili.jpeg"></ion-img>
    <ion-card-header>      
      <ion-card-title>Ingredientes</ion-card-title>
      </ion-card-header>
      <ion-card-content color="success">              
          • Judias rojas (100 gr) 
          • 2 tomates (240 gr)<br>
          • 2 zanahorias (300 gr)<br>
          • Cilantro fresco (25 g)<br>
          • 1 Cebolla (80 g)<br>
          • 1 Diente de ajo (3 g)<br>
          • 1 Chile (5 g)<br>
          • Aceite de coco (1 cdta., 7.5 mL)<br>
          • Carne picada de ternera (200 g)<br>
    • Jengibre rallado (10 g)<br>
    • Agua (200 mL)<br>
    • Sal y pimienta (al gusto)<br>
                
      </ion-card-content>

      <ion-card-header>
          <ion-card-title>Procedimiento</ion-card-title>
          </ion-card-header>
    
          <ion-card-content ALIGN="justify" color="#000">
             
              1. Escurre las judías rojas. Corta los tomates en cubitos, las zanahorias en rodajas y pica el cilantro. <br><br>
              2. Pica la cebolla, el ajo y el chile en trocitos pequeños.<br><br>
              3. Calienta el aceite de coco en una sartén y rehoga la zanahoria, la cebolla, el ajo y el chile durante unos minutos.<br><br>
              4. Haz una salsa con los tomates, el agua y las judías y hiérvela durante 15 minutos.<br><br>
              5. Por último, agrega el jengibre y sazona con sal y pimienta.<br><br>
              6. Adorna con el cilantro.<br><br>
              7. ¡Que aproveche!<br><br>
             
          
          </ion-card-content>

      <ion-card-header>
        <ion-card-title>Informacion Nutricional:</ion-card-title>
      </ion-card-header>
       
      <ion-item color="success">
          <ion-card-content ALIGN="justify" color="#000">
            <p><strong>Tiempo : <br><br>
              Porciones: 2 aprox <br>
              Energia:  379 Kcal  <br>
              &nbsp;&nbsp;&nbsp;&nbsp;· Proteínas: 26.6g <br>
              &nbsp;&nbsp;&nbsp;&nbsp;· Carbohidratos: 21.5g<br>
              &nbsp;&nbsp;&nbsp;&nbsp;· Azucares: 15.5g<br>
              &nbsp;&nbsp;&nbsp;&nbsp;· Grasas: 18.7g<br>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;De las cuales:<br>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Saturadas: 9.7g <br>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Monoinsaturadas: 6.7g<br>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Poliinsaturadas: 1.1g<br>
              · Colesterol: 60mg
            </strong></p>             
          </ion-card-content>
      </ion-item>
      
  </ion-card>

</ion-content>