<app-header></app-header>

<ion-content>

<h1 padding>Albóndigas con queso sobre espaguetis de calabacín</h1>

<ion-card mode="ios">
        <ion-img src="/assets/recetario/carne/albondigas.jpeg"></ion-img>
        <ion-card-header>      
          <ion-card-title>Ingredientes</ion-card-title>
          </ion-card-header>
          <ion-card-content color="success">              
              • Tomates secos (50 gr)<br>
              • 2 Dientes de ajo (6 gr)<br>
              • Carne picada de cerdo (250 gr)<br>
              • 1 Huevo (70 gr)<br>
              • Almendras molidas (20 gr)<br>
              • Queso parmesano en polvo (20 gr)<br>
              • Pasta de tomate concentrado (1cda., 16 gr)<br>
              • Orégano (al gusto)<br>
              • Aceite de oliva (1 cdta., 7 mL)<br>
			  • Tomte triturado (280 gr)<br>
			  • Sal y pimienta (al gusto)<br>
			  • Mozarella en bola baja en grasa (60 gr)<br>
			  • 2 Calabacín (460 gr)<br>
			  • Albahaca fresca (al gusto)<br>
                    
          </ion-card-content>
    
          <ion-card-header>
              <ion-card-title>Procedimiento</ion-card-title>
              </ion-card-header>
        
              <ion-card-content ALIGN="justify" color="#000">
                 
                  1. Pra preparar las albóndigas, pica los tomates secos y los ajos.<br><br>
                  2. Mézclalos con la carne picada, el huevo, las almendras, el queso, la pasta de tomate y el orégano hasta conseguir una textura uniorme. Ve formando las albóndigas con las manos.<br><br>
                  3. Fríe las albóndigas por toda la superficie en una sartén antiadherente con una cucharadita de aceite de oliva.<br><br>
                  4. Agrega a la sartén el tomate triturado, sal, pimienta y orégano y dej que se cueza a fuego medio durante 10 minutos aproximadamente.<br><br>
                  5. Mientras tanto, escurre y corta la mozzarella en rodajas y colócalas encima de las albpondigas. Tapa la sartén y deja que se cocinen durante 5 minutos más.<br><br>
                  6. Corta los espaguetis de calabacín usando un cortador en espiral o un pelador de verduras.<br><br>
                  7. Sirve las albóndigas sobre los espaguetis de calabacín y decora el plato con albahaca fresca.<br><br>
				  8. ¡Que aprovece!<br><br>
				  
                 
              
              </ion-card-content>
    
          <ion-card-header>
            <ion-card-subtitle>Informacion Nutricional:</ion-card-subtitle>
          </ion-card-header>
           
          <ion-item color="success">
              <ion-card-content ALIGN="justify" color="#000">
                <p><strong>Tiempo : 20 minutos<br><br>
                  Porciones: 2 aprox <br>
                  Energia:  673 Kcal  <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;· Proteínas: 44.7g <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;· Carbohidratos: 16.6g<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;· Azucares: 15.5g<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;· Grasas: 45.9g<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;De las cuales:<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Saturadas: 17.1g <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Monoinsaturadas: 21.0g<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Poliinsaturadas: 4.2g<br>
                  · Colesterol: 235mg
                </strong></p>             
              </ion-card-content>
          </ion-item>
          
      </ion-card>

</ion-content>
