<app-header></app-header>

<ion-content>
    <ion-card mode="ios">
        <ion-img src="/assets/recetario/pollo/nueces.jpeg"></ion-img>
        <ion-card-header>      
          <ion-card-title>Ingredientes</ion-card-title>
          </ion-card-header>  
          <ion-card-content color="success">              
              • 1 filete de pechuga de pollo 150g<br>
              •   Aceite de oliva 1cdta., 7ml<br>
              • 2 Bagels integrales 170g<br>
              •  Pesto de albahaca 50g<br>
              • Rucula 50g<br>
              • Arandonos rojos secos 10g<br>
              •  Nueces 20g<br>
              • Queso parmesano en polvo 20g<br>
              •  Queso feta 25g<br>
              
              
			  
          </ion-card-content>
    
          <ion-card-header>
              <ion-card-title>Procedimiento</ion-card-title>
              </ion-card-header>
        
              <ion-card-content ALIGN="justify" color="#000">
                 
                  1. Calienta el aceite de oliva en un sarten y saltea el pollo. <br><br>
                  2. Mientras tanto, corta los bagels por la mitad y unta las partes de abajo con el pesto.<br><br>
                  3. Corta el pollo ya cocinado en trocitos y colocalo sobre las mitades de pan untadas con el pesto.<br><br>
                  4. Pon encima un poco de rucula, arandanos rojos, nueces y queso parmesano. <br><br>
                  5. Por ultimo, agrega el queso feta desmenuzalo con las manos y cierra los bagels con las otras mitades.<br><br>
                  6. ¡Que aproveche!<br>
				  
              </ion-card-content>
    
          <ion-card-header>
            <ion-card-subtitle>Informacion Nutricional:</ion-card-subtitle>
          </ion-card-header>
           
          <ion-item color="success">
              <ion-card-content ALIGN="justify" color="#000">
                <p><strong>Tiempo : 15 min aprox <br><br>
                  Porciones: 1 aprox <br>
                  Energia:  658Kcal  <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;· Proteínas: 36.6 g <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;· Carbohidratos: 55.3g<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;· Azucares: 6.0g<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;· Grasas: 32.0 g<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;De las cuales:<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Saturadas: 8.4g <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Monoinsaturadas: 13.3 g<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Poliinsaturadas: 8.4g<br>
                  · Colesterol: 65 mg <br>
                </strong></p>             
              </ion-card-content>
          </ion-item>
          
      </ion-card>

</ion-content>
