<app-header></app-header>

<ion-content>
    <ion-card mode="ios">
            <ion-img src="/assets/recetario/pollo/coreana.jpeg"></ion-img>
            <ion-card-header>      
              <ion-card-title>Ingredientes</ion-card-title>
              </ion-card-header>  
              <ion-card-content color="success">              
                  •   Jengibre fresco 10g<br>
                  •    2 Filetes de pechuga de pollo 300g<br>
                  •  Vino de arroz (Cheongju) 1cda., 8ml<br>
                  •   1/2 Pepino 150g<br>
                  •   Pimiento rojo 40g<br>
                  •   Pimiento amarillo 40g<br>
                  •   Pimiento verde 40 g <br>
                  •   Tomates cherry 40 g<br>
                  •   Lechuga variada 50g <br>
            •   Brotes de espinaca 50g <br>
            •   Nueces molidas 4cda.., 40g <br>
            •   Sesamo tostado 30g<br>
            •   Mayonesa 40g <br>
            •   Vinagre de manzana 1 1/2 cda., 12ml <br>
            •   Sal al gusto <br>
            
              </ion-card-content>
        
              <ion-card-header>
                  <ion-card-title>Procedimiento</ion-card-title>
                  </ion-card-header>
            
                  <ion-card-content ALIGN="justify" color="#000">
                     
                      1. Hierve agua en una olla grande. <br><br>
                      2. Pela el jengibre, cortalo en rodajas finas y agregalo al agua junto con el pollo y el vino de arroz. Cubre y cuece durante aproximadamente 10 min.<br><br>
                      3. Cuando se haya cocinado el pollo, corta el pepino en rodajas finas y despues en tiritas. Retira las semillas de los pimientos y cortalos tambien en tiras. Corta los tomates por la mitad.<br><br>
                      4. Coloca la lechuga variada y los brotes de espinaca en un bol y agrega encima el resto de verduras. <br><br>
                      5. Despues, escurre el agua y deja que el pollo se enfrie.<br><br>
                      6. Para el aliño, mezcla las nuecces molidas, las semillas de sesamo, la mayonesa, el vinagre de manzana y la sal.<br>
              7. Cuando se haya enfriado el pollo, desmenuzelo con las manos y colocalo encima de las verduras.<br>
              8. Sirve con el aliño.<br>
              9.¡Que aproveche!<br>
              
                  </ion-card-content>
        
              <ion-card-header>
                <ion-card-subtitle>Informacion Nutricional:</ion-card-subtitle>
              </ion-card-header>
               
              <ion-item color="success">
                  <ion-card-content ALIGN="justify" color="#000">
                    <p><strong>Tiempo : 20 min aprox <br><br>
                      Porciones: 1 aprox <br>
                      Energia:  607 Kcal  <br>
                      &nbsp;&nbsp;&nbsp;&nbsp;· Proteínas: 43.5g <br>
                      &nbsp;&nbsp;&nbsp;&nbsp;· Carbohidratos: 9.3 g<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;· Azucares: 7.2g<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;· Grasas: 41.3 g<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;De las cuales:<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Saturadas: 10.5g <br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Monoinsaturadas: 12.6 g<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Poliinsaturadas: 16.5<br>
                      · Colesterol: 134 mg <br>
                    </strong></p>             
                  </ion-card-content>
              </ion-item>
              
          </ion-card>
    
    </ion-content>
